@import url('https://fonts.googleapis.com/css?family=Asap:400,700');
/*font-family: 'Asap', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Damion');
/*font-family: 'Damion', cursive;*/

/* common */
body {
	color: rgb(51, 51, 51);
	font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
	font-weight:400;
	font-size: 14px;
	margin:0; padding:0;
}
p,form,dl,dt,dd,ul,li{
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.text-left {
	width:50%;
	text-align:left;
	float: left; display:inline-block;
}
.text-right {
	width:50%;
	text-align:right;
	float: right; display: inline-block;
}

/* header */
header {
	left: 0px;top: 0px; right: 0px;
	height:74px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	z-index: 100;
	background-color: rgb(12, 48, 142);
	box-sizing:border-box;
}
header .container{
	width:1200px;	margin:0 auto;
}
header .nav {
	padding-top:0.8em;
}
header .nav a {
	font-size:0.786em;
	padding:0 1.4em 0 1.3em;
	color:rgb(255, 255, 255);
	background-image: url("../images/header-ico-arrow.png");
	background-position:left;
	background-repeat: no-repeat;
	background-size: 9px;
}
header .nav span.language {
	font-size:0.786em;
	padding:0 1.4em 0 1.3em;
	color:rgb(255, 255, 255);
	background-image: url("../images/header-ico-arrow.png");
	background-position:left;
	background-repeat: no-repeat;
	background-size: 9px;
	opacity: 0.5;
}

/* mainvisual */
.section-mainvisual{
	position:relative;
	width:100%;
	height: 359px;
	margin-top:74px;
	background: url("../images/mainvisual_bg.jpg") 0 0 no-repeat;
	background-size: cover;
	box-sizing:border-box;
}
.section-mainvisual h2{
	position: absolute;
	width:507px;
	height:128px;
	top: -220px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align:center;
}
.section-mainvisual h2 img{
	width:100%;
	max-width: 291px;
	max-height: 291px;

}

/* registration */
.registration{
	position:relative;
	z-index:50;
}
.registration .container{
	width:900px;
	background-color: rgb(255, 255, 255);
	margin:-70px auto 0;
	padding:50px 90px 0;
	box-sizing:border-box;
}
.registration .step-number{
	margin:0 0 20px 0;
	padding:0;
}
.registration .step-number ol{
	margin:0 auto;
	padding:0;
	font-family: 'Asap', sans-serif;
}
.registration .step-number ol:after{
	content: "";
	display: block;
	clear: both;
}
.registration .step-number li{
	width:20%;
	float:left;
	list-style:none;
	margin:0 10% 0 0;
	font-size:1.714em;
	font-weight:700;
	padding:0;
	background-image: url("../images/step-ico-arrow.png");
	background-position:right;
	background-repeat: no-repeat;
	background-size: 12px 18px;
}
.registration .step-number li:last-child{
	width:auto;
	background-image: none;
	margin:0;
}
.registration .step-number li.current{
	color: rgb(1, 166, 233);
}

.registration .step-number li.current{
	color: rgb(1, 166, 233);
}
.registration .contents_form dt{
	font-size:1.414em;
	text-align:left;
}
.registration .contents_form .modal{
	padding-top:5px;
	color: rgb(12, 48, 141);
}
.registration .contents_form .modal a,
.registration .contents_form .modal a:visited{
	color: rgb(12, 48, 141);
}
.registration .contents_form .modal a:hover{
	color: rgb(20, 71, 201);
}
.registration .contents_form .tf-checker{
	color: rgb(12, 48, 142);
	margin-bottom:5px;
}
.registration .form-btn .policy a {
	color: rgb(51, 51, 51);
	text-decoration:underline;
}

/* footer */
footer {
	border-top-color: rgb(187, 187, 187);
	border-top-width:
	1px; border-top-style: solid;
}
footer .container{
	width:1200px;
	height:67px;
	margin:0 auto;
	padding: 10px 0px;
	box-sizing:border-box;
}
footer b {
	border-right:1px solid rgb(187, 187, 187);
	font-size: 1.1em;
	margin-right:15px;
	padding-right:15px;
	height:22px;
}
footer .text-left {
	padding-top:15px;
}
footer .copy {
	clear:both;
	font-size:0.786em;
	background-color: rgb(12, 48, 142);
	text-align:center;
	color:rgb(255, 255, 255);
	padding:8px 0 18px 0;
}
footer .copy span{
	padding:0 5px;
}
footer a {
	color: rgb(12, 47, 139);
	font-size: 1.1em;
	text-decoration:underline;
}
footer a:hover {
	color: rgb(20, 38, 87);
}
.scrollup {
	border-radius: 20px; transition:1s; width: 40px; height: 40px; text-align: center; right: 15px; bottom: -50px; color: rgb(255, 255, 255); line-height: 40px; overflow: hidden; font-size: 1.5em; position: fixed; z-index: 999; cursor: pointer; opacity: 0; background-color: rgb(51, 51, 51); -webkit-transition: all 1s ease 0s; -o-transition: all 1s ease 0s; -moz-transition: all 1s ease 0s;
}
.scrollup:focus {
	color: rgb(255, 255, 255);
}
.show.scrollup {
	bottom: 15px; opacity: 1;
}

/* thankyou */
.contents_form_end h3{
	color: rgb(93, 187, 234);
	font-size: 1.343em;
	font-weight:700;
	text-align:center;
	margin-bottom:40px;
}
.contents_form_end h3 span{
	font-size:1.533em;
	background: linear-gradient(transparent 60%, #fbe924 60%);
}
.contents_form_end .coupon_code{
	width:100%;
	margin-bottom:40px;
	padding-bottom:36px;
	text-align:center;
	border:1px solid rgb(211, 211 ,211);
	position: relative;
	box-sizing:border-box;
}
.contents_form_end .coupon_code p.code{
	height:120px;
	padding:48px 10px;
	margin-bottom:35px;
	font-size:1.857em;
	font-weight:700;
	border-bottom:1px solid rgb(211, 211 ,211);
	background-color:rgb(238, 238 ,238);
	box-sizing:border-box;
}
.contents_form_end .coupon_code p.code span:after{
	display:inline-block;
	content:":";
	margin:0 10px;
}
.contents_form_end .coupon_code img{
	width:100%;
	max-width:331px;
	margin-bottom:26px;
}
.contents_form_end .coupon_code dl{
	color: rgb(12, 48, 142);
}
.contents_form_end .coupon_code dt{
	font-size:1.714em;
	font-weight:700;
	margin-bottom:35px;
}
.contents_form_end .coupon_code dd{
	font-size:1.571em;
	margin-bottom:30px;
	padding:0 10px;
}
.contents_form_end .caution{
	margin-bottom:120px;
}
.contents_form_end .caution dl{
	margin-bottom:40px;
}
.contents_form_end .caution dt{
  width : 180px;
  float : left;
	font-size:1.214em;
	font-weight:700;
  clear : both;
}
.contents_form_end .caution dd{
  width : auto;
  margin-left : 230px;
	font-size:1.186em
}
.contents_form_end .caution ul{
	margin-left:16px;
	padding-top:15px;
}
.contents_form_end .caution li{
	list-style-type: none;
	margin-bottom:15px;
}
.contents_form_end .caution li:before{
	content: '';
	width: 6px;
	height: 6px;
	display: inline-block;
	background: rgb(1, 166, 234);
	position: relative;
	left: -15px;
	top: -3px;
}
.contents_form_end .caution li span{
	display:inline-block;
	width: 250px;
}
.contents_form_end .btn a {
	display:block;
}
.contents_form_end .btn,
.contents_form_end .btn a {
	width: 500px;
	height:70px;
	color: rgb(255, 255, 255);
	margin:0px auto;
}
.contents_form_end .btn a:hover {
	text-decoration:none;
	opacity: 0.8;
}
.contents_form_end .btn a{
	position:relative;
	font-weight: 700;
	background: rgb(12, 48, 142);
	display: inline-block;
	padding: 19px 15px 0px 150px;
	border-radius: 40px;
	font-size: 22px;
	box-sizing:border-box;
}
.contents_form_end .btn i{
	position: absolute;
	right: 25%; top: 36%;
	text-align: left; font-family: "FontAwesome";
	display: block;
}


@media screen and (max-width:1199px)
{
header .container{
	width:100%;
	padding:0 2%;
}
footer .container{
	width:100%;
}
}
@media screen and (max-width:845px)
{
.section-mainvisual{
	width:100%;
	margin-top:74px;
	height: 180px;
}
.section-mainvisual h2{
	width:360px;
	top: 40px;
}
.section-mainvisual h2 img{
	width:100%;
}
.registration .container{
	width:100%;
	margin:0px auto 0;
	padding:50px 90px 0;
	box-sizing:border-box;
}
.registration .container{
	width:100%;
	margin:0px auto 0;
	padding:50px 7% 0;
	box-sizing:border-box;
}
.registration .step-number{
	margin:0 0 47px 0;
	padding:0;
}
.registration .step-number ol{
	margin:0 auto;
	padding:0;
}
.registration .step-number li{
	width:20%;
	margin:0 10% 0 0;
	font-size:1.2em;
}
}
@media screen and (max-width:639px)
{
header .text-left {
	width:50%;
	text-align:left;
	float: left; display:inline-block;
}
header .text-right {
	width: 150px;
	text-align:left;
	float: right; display: inline-block;
}
header .nav {
	padding-top:0em;
}
header img {
	max-width: 100%;
}
.registration .step-number{
	margin:0 0 30px 0;
	padding:0;
}
.registration .step-number ol{
	margin:0 auto;
	padding:0;
}
.registration .step-number li{
	width:22%;
	margin:0 6% 0 0;
	font-size:1em;
}
.registration .contents_form dt{
	font-size:1em;
	margin-bottom:5px;
}
footer .text-left {
	width:100%;
	text-align:center;
	float: left; display:inline-block;
	margin-bottom:10px;
}
footer .text-right {
	width:100%;
	text-align:center;
	float: right; display: inline-block;
	margin-bottom:10px;
}
footer img {
	max-width: 80%;
}
.form-checkbox{
	padding-top:15px;
}
/* thankyou */
.contents_form_end h3{
	font-size:1.214em;
	margin-bottom:30px;
}
.contents_form_end h3 span{
	font-size: 1.603em;
}
.contents_form_end .coupon_code{
	margin-bottom:30px;
	padding-bottom:30px;
}
.contents_form_end .coupon_code p.code{
	margin-bottom:20px;
	font-size:1.214em;
}
.contents_form_end .coupon_code img{
	width:80%;
	max-width:331px;
	margin-bottom:26px;
}
.contents_form_end .coupon_code dt{
	font-size:1.214em;
	margin-bottom:20px;
}
.contents_form_end .coupon_code dd{
	font-size:1.324em;
	margin-bottom:30px;
	text-align: left;
}
.contents_form_end .caution dl{
	margin-bottom:30px;
}
.contents_form_end .caution dt{
  width : 100%;
  float : none;
	margin-bottom:10px;
	font-size:1.214em;
	font-weight:700;
}
.contents_form_end .caution dd{
  width : 100%;
  margin-left : 0;
	font-size:1.214em;
}
.contents_form_end .caution ul{
	margin-left:16px;
	padding-top:15px;
}
.contents_form_end .caution li{
	margin-bottom:5px;
}
.contents_form_end .btn{
	width: 100%;
	margin:0 auto;
	text-align:center;
}
.contents_form_end .btn a {
	width: 85%;
	height:55px;
	padding: 14px 30px 0px 20px;
	font-size: 18px;
}
.contents_form_end .btn i{
	right: 10%; top: 36%;
}
.contents_form_end .caution{
	margin-bottom:65px;
}

}
@media screen and (max-width:580px)
{
}
@media screen and (max-width:480px)
{
header {
	height:55px;
	padding-top: 20px;
	padding-bottom: 20px;
}
header .text-left {
	padding-top:2%;
}
.section-mainvisual{
	margin-top:55px;
}
.section-mainvisual h2{
	width: 190px;
	top: -50px;
}
.section-mainvisual h2 img{
	width:100%;
}
footer {
	padding-bottom: 0px;
}
.scrollup {
	display: none !important;
}
header {
	padding-top: 10px; padding-bottom: 5px;
}
header .logo img {
	width: 100%; height: auto;
}
.section-mainvisual h2{
}
.contents_form_end .coupon_code p.code span:after{
	margin:0 4px;
}

}
@media screen and (max-width:320px)
{
.section-mainvisual h2{
}
.contents_form_end .btn a {
	padding: 20px 30px 0px 0px;
	font-size: 16px;
}
.contents_form_end .btn i{
	right: 5%; top: 36%;
}

}