@import 'https://fonts.googleapis.com/css?family=Kanit:300,400,500,700,900&subset=thai';

@font-face {
    font-family: 'Din Round Black';
    src: url('../fonts/DINRoundWeb-Black.woff') format('woff'),
         url('../fonts/DINRoundComp-Black.ttf') format('truetype'),
         url('../fonts/DINRoundWeb-Black.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Round Bold';
    src: url('../fonts/DINRoundWeb-Bold.woff') format('woff'),
         url('../fonts/DINRoundComp-Bold.ttf') format('truetype'),
         url('../fonts/DINRoundWeb-Bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Round Light';
    src: url('../fonts/DINRoundWeb-Light.woff') format('woff'),
         url('../fonts/DINRoundComp-Light.ttf') format('truetype'),
         url('../fonts/DINRoundWeb-Light.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Round Medium';
    src: url('../fonts/DINRoundWeb-Medium.woff') format('woff'),
         url('../fonts/DINRoundComp-Medium.ttf') format('truetype'),
         url('../fonts/DINRoundWeb-Medium.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Round';
    src: url('../fonts/DINRoundWeb.woff') format('woff'),
         url('../fonts/DINRoundComp.ttf') format('truetype'),
         url('../fonts/DINRoundWeb.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'Din Round',sans-serif;
  font-size: 14px;
  color:#000;
}
.font-th{
  font-family: 'Kanit', sans-serif !important;
}
header{
  background-color: #ffffff;
  border-bottom: solid 1px #c1c1c2;
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 100;
}
header a{
  display: inline-block;
  border: none;
  background: none;
  background-repeat: no-repeat;
  font-size: 0;
  width: 25px;
  height: 25px;
  outline: none;
}
header .lang-en{
  background-image: url('../images/icon-en.png');
  margin-right: 30px;
}
header .lang-th{
  background-image: url('../images/icon-th.png');
}
.z-table{
  display: table;
  width: 100%;
}
.z-table-cell{
  display: table-cell;
}
/* btn join */
.btn-join, .btn-join:hover, .btn-join:focus, .btn-join:active{
  color: #fff;
  text-decoration: none;
}
.btn-join{
  display: inline-block;
  background-color: #00afef;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 13px 25px 10px 25px;
  font-size: 1.35em;
}
.page-closed .btn-join {
  background-color: #88dcfb;
  cursor: default;
}
.page-closed .btn-terms {
  background-color: #00afef;
  cursor: pointer;
}
.btn-join > i{
  margin-left: 15px;
  font-size: 1.2em;
  /*float: right;*/
  /*margin-top: -4px;*/
}

/* btn fixed */
.fixed-btn{
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 100;
  -ms-transform-origin: right top; /* IE 9 */
  -ms-transform: rotate(90deg) translateX(50%); /* IE 9 */
  -webkit-transform-origin: right top;/* Chrome, Safari, Opera */
  -webkit-transform:rotate(90deg) translateX(50%);/* Chrome, Safari, Opera */
  transform-origin: right top;
  transform:rotate(90deg) translateX(50%);
}
.fixed-btn > a.btn-join{
  background-color: #142657;
}
/* Footer */
footer{
  border-top: solid 5px #cbd2e3;
  padding: 20px 0;
}
footer b ,footer a{
  font-family: 'Din Round Medium',sans-serif;
  font-size: 1.1em;
  color: #142657;
}
footer a, footer a:hover, footer a:focus, footer a:active{
  color: #142657;
}
footer a span {
  font-family: Tahoma;
}

/* Section Main */
.section-main{
  height: 600px;
  background-color: #e3e3d7;
  border-bottom: solid 1px #c1c1c2;
}
.section-main .container, .main-campaign{
  height: 100%;
}
.section-main .container{
  padding-top: 110px;
  padding-bottom: 30px;
}
.main-campaign{
  background-image: url('../images/map.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}
.page-closed .main-campaign{
  background-image: url('../images/close-map.png');
  background-position: center;
}
.main-campaign h1, .main-campaign h2, .main-campaign p{
  color: #142657;
}
.main-campaign h4{
  color:#00afef;
}
.main-campaign h1, .main-campaign h2,
.main-campaign h4, .main-campaign p
{
  padding: 0;
  margin: 0;
}
.main-campaign h1, .main-campaign h4{
  font-family: 'Din Round Medium',sans-serif;
}
.main-campaign h1, .main-campaign h2{
  font-size: 4em;
  font-family: 'Din Round Medium',sans-serif;
}
.main-campaign h4, .main-campaign p{
  font-size: 1.6em;
  line-height: 30px;
}
.main-campaign p{
  font-family: 'Din Round Light',sans-serif;
  margin: 5px 0;
  max-width: 414px;
}

.main-campaign .z-table{
  height: 100%;
}
.main-campaign .z-table-cell{
  vertical-align: middle;
}
.main-campaign .z-table-cell img{
  width: 100%;
  max-width: 550px;
  height: auto;
  padding-bottom: 30px;
}

/* Prize */
.prize{
  background-color: #e3e3d7;
  background-image: url('../images/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.prize-shadow{
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
  height: 100%;
}
.prize h2,.prize h3,.prize h4{
  margin: 0;
}
.prize h2{
  display: inline-block;
  font-family: 'Din Round Bold',sans-serif;
  font-size: 2.7em;
  line-height: 40px;
  text-transform: uppercase;
  color: #00afef;
  margin-bottom: 20px;
  padding-top: 0;
  padding-right: 70px;
  background-image: url('../images/icon-prize.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.prize h2>span{
  display: block;
  color: #142657;
}
.prize p{
  margin: 0;
}
.prize-box h4{
  color: #142657;
  font-family: 'Din Round Bold',sans-serif;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
.prize-box h4::after{
  content: ' ';
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 88px;
  background-color: #00afef;
}
.prize1, .prize2, .prize3{
  position: relative;
  margin-bottom: 30px;

}
.prize1 img{
  width: 100%;
}
.prize1 .prize-box-bg{

}
.prize1 .prize-box{
  position: absolute;
  top:45px;
  bottom: 45px;
  left: 60px;
  right: 60px;
  background-color: rgba(250,250,250,0.4);
}
.prize1 .prize-box .z-table{
  height: 100%;
}
.prize1 .prize-box .z-table .z-table-cell{
  vertical-align: middle;
  text-align: center;
}
.prize1 .prize-box h3{
  background-image: url('../images/plane-gold-mini.png');
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
  color: #fff;
  padding: 22px 50px 15px 0;
  font-family: 'Din Round Bold',sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
}
.prize1 .prize-box img{
  display: inline-block;
  width: inherit;
  max-width: 100%;
  margin-bottom: 10px;
}
.prize1 .prize-box h4{
  font-size: 3.2em;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.prize1 .prize-box h4::after{
  background-color: #224099;
  left: 50%;
  margin-left: -44px;
}
.prize1 .prize-box p{
  width: 365px;
  margin: 0 auto;
  font-size: 1.7em;
}
.prize2 img, .prize3 img{
  width: 68%;
}
.prize2 .prize-box, .prize3 .prize-box{
  top: 0;
  bottom: 0;
  right: 15px;
  left: 64%;
  position: absolute;
  background-color: #fff;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.prize2 h3, .prize3 h3{
  font-family: 'Din Round Bold',sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: #142657;
}
.prize2 h4, .prize3 h4{
  font-family: 'Din Round Bold',sans-serif;
  text-transform: inherit;
  color: #224099;
  font-size: 1.7em;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.prize2 p, .prize3 p{
  font-size: 1.4em;
}

/* How To */
.howto{
  padding-top: 40px;
  padding-bottom: 70px;
}
.howto > h2,.howto-step h3{
  margin: 0;
}
.howto>h2{
  font-family: 'Din Round Bold',sans-serif;
  font-size: 2.7em;
  line-height: 40px;
  text-transform: uppercase;
  color: #00afef;
  margin-bottom: 20px;
  padding-top: 15px;
  background-image: url('../images/howto-plane.png');
  background-repeat: no-repeat;
  background-position: 154px top;
}
.howto>h2>span{
  display: block;
  color: #142657;
}
.howto-step{
  border-top: solid 1px #787878;
  border-bottom: solid 1px #787878;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  overflow: hidden;
}
.howto-step .row{
  margin-right: -25px;
  margin-left: -25px;
}
.howto-step .howto-step-col{
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 25px;
}
.howto-step h3{
  font-family: 'Din Round Bold',sans-serif;
  font-size:2.3em;
  margin-bottom: 15px;
}
.howto-step img{
  width: 80%;
  display: block;
  margin-bottom: 25px;
}
.howto-step p{
  font-size: 1.05em;
  line-height: 1.7em;
}
.howto-step p>a{
  color: #00afef;
  text-decoration: underline;
}
.howto-step p>a:hover,
.howto-step p>a:focus,
.howto-step p>a:active
{
  color: #000;
}
.howto>ul{
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}
.howto>ul>li{
  list-style: none;
  font-size: 1.15em;
}
.howto>ul>li>label{
   margin: 0;
   color: #fff;
   background-color: #142657;
   padding: 0 15px;
   width: 225px;
   text-transform: uppercase;
   font-size: 0.95em;
   font-family: 'Din Round Light';
   position: relative;
   float: left;
   display: block;
   height: 35px;
   line-height: 38px;
}
.howto>ul>li>label:after{
  content:' ';
  display: block;
  position: absolute;
  top: 8px;
  right: -12px;
  width: 23px;
  height: 18px;
  background-image: url('../images/howto-arrow.png');
}
.howto>ul>li>p{
  margin-left: 255px;
  line-height: 19px;
  margin-bottom: 25px;
}
.howto>ul>li>p.howto-period{
  line-height: 35px;
}
.howto>ul>li>p a{
  color: #00afef;
  text-decoration: underline;
}
.howto-btn a{
  width: 275px;
}

/* Trip */
.trip{
  background-color: #e3e3d7;
}

.trip h2{
  font-family: 'Din Round Bold',sans-serif;
  font-size: 2.7em;
  text-transform: uppercase;
  color: #142657;
  background-repeat: no-repeat;
  margin: 0;
  margin-bottom: 45px;
  display: inline-block;
}
.trip h2>span{
  color: #00afef;
}
.trip img{
  width: 100%;
}
.trip .trip-content{
  padding: 40px 50px 0px 40px;
}
.trip .z-table-cell{
  width: 50%;
  vertical-align: top;
  color: #fff;
}
.trip h3{
  margin: 0;
  padding: 0;
  font-family: 'Din Round Medium',sans-serif;
  font-size: 2.8em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.trip .trip-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: 'Din Round Light';
  margin-bottom: 50px;
}
.trip hr{
  border-top: solid 1px #fff;
  margin: 0;
}

.trip-top span{
  display: block;
}
.trip-top h2{
  background-image: url('../images/icon-light.png');
  background-position: right center;
  padding-top: 85px;
  padding-right: 30px;
  margin-bottom: 20px;
}
.trip-japan{
  margin-bottom: 10px;
}
.trip-japan h2{
  background-image: url('../images/trip-japan.png');
  background-position: right center;
  padding-top: 40px;
  padding-right: 70px;
}
.trip-japan .trip-content{
  background-color: #00afef;
}
.trip-usa-img1{
  display: none;
}
.trip-usa h2{
  background-image: url('../images/trip-usa.png');
  padding-right: 90px;
  background-position: right center;
  padding-top: 38px;
}
.trip-usa .trip-content{
  background-color: #011857;
}

.btn-booking{
  display: inline-block;
  background-color: #ffffff;
  color: #0d0d0d;
  padding: 10px 20px 7px 20px;
}
.btn-booking:hover,
.btn-booking:focus,
.btn-booking:active{
  color: #000;
  text-decoration: none;
}
.btn-booking > img{
  width: 9px;
  height: 9px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
/* Slider */
.bx-wrapper .bx-viewport {
  border: none;
  left: 0;
  background: none;
  box-shadow: none;
}
.bx-wrapper .bx-controls-direction a{
  width: 15px;
  height: 25px;
  margin-top: -15px;
  z-index: 99;
}
.bx-wrapper .bx-prev{
  background: url(../images/slider-controls.png) no-repeat left top;
}
.bx-wrapper .bx-next{
  background: url(../images/slider-controls.png) no-repeat right top;
}
.bx-wrapper .bx-prev:hover{
  background-position: left bottom;
}
.bx-wrapper .bx-next:hover{
  background-position: right bottom;
}
.trip .bx-wrapper .bx-prev{
  left: -50px;
}
.trip .bx-wrapper .bx-next{
  right: -50px;
}
.trip .bx-wrapper .bx-controls{
  padding-top: 15px;
}
.social{
  padding-bottom: 30px;
}
.social a{
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
.social img{
  width: inherit;
}

/* Terms Menu */
.terms{
  padding-top: 100px;
}
.terms>h2{
  font-family: 'Din Round Bold',sans-serif;
  font-size: 2.7em;
  line-height: 35px;
  text-transform: uppercase;
  color: #00afef;
  margin-bottom: 20px;
  padding-top: 31px;
  background-image: url('../images/terms-icon.png');
  background-repeat: no-repeat;
  background-position: right top;
  display: inline-block;
  padding-right: 60px;
}
.terms>h2>span {
  display: inline-block;
  color: #142657;
}

.terms-menu{
  border-top:solid 1px #787878;
  padding-top:40px;
  padding-left: 65px;
  padding-right: 65px;
  margin-bottom: 40px;
}
.terms-menu .item{
  display: table;
}

.terms-menu .item a{
  text-decoration: none;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  background-color: #f5f5f5;
  color: #000;
  font-family: 'Din Round Medium',sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  border-right:solid 2px #d9d9d9;
}
.terms-menu .item a:hover{
  color: #142657;
}
.terms-menu .item a.last{
  border-right:0
}
.terms-menu .item a.active,
.terms-menu .item a.hover
{
  background-color: #142657;
  color: #fff;
}
.terms-menu .bx-wrapper .bx-prev{
  left: -50px;
}
.terms-menu .bx-wrapper .bx-next{
  right: -50px;
}

.terms-content{
  background-color: #e3e3d7;
  padding: 40px;
  margin-bottom: 40px;
}
.terms-content h3{
  color: #142657;
  font-family: 'Din Round Medium',sans-serif;
  font-size: 2.2em;
}
.terms-content, .terms-content a{
  color: #000;
}
.terms-content .group{
  padding-bottom: 8px;
}
.term-home{
  padding: 30px 10px;
}
.term-home a{
  font-size: 1em;
}
.term-home a > i{
  margin-left: 0;
  margin-right: 20px;
  float: left;
  margin-top: 1px;
  font-size: 1.2em;
}
/* scroll to top */
.scrollup{
  position: fixed;
  right: 15px;
  bottom: -50px;
  background-color: #333;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  z-index: 999;
}
.scrollup:focus{
  color:#fff;
}
.scrollup.show{
  opacity: 1;
  bottom: 15px;
}

@media screen and (max-width: 1270px){
  .trip .bx-wrapper .bx-prev{
    left: -35px;
  }
  .trip .bx-wrapper .bx-next{
    right: -35px;
  }
}
/* Thank You*/
.section-thank{
  background-image: url('../images/cloud-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}
.section-thank h1{
  color: #fff;
  font-size: 5.71em;
  margin-bottom: 5px;
}
.section-thank h2{
  color: #fff;
  font-size: 2.85em;
  margin-bottom: 25px;
}
.section-thank h4{
  color: #142657;
  font-size: 2.85em;
  margin-bottom: 40px;
}

@media screen and (max-width: 1235px){
  .trip .bx-wrapper .bx-prev{
    left: -20px;
  }
  .trip .bx-wrapper .bx-next{
    right: -20px;
  }
}
@media screen and (max-width: 1199px){
  .prize2 img, .prize3 img {
    width: 67.5%;
  }
  .prize2 .prize-box, .prize3 .prize-box{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    left: 62%;
  }
  .prize2 h3, .prize3 h3{
    font-size: 1.85em;
  }
  .trip .trip-content p {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 30px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .main-campaign .z-table-cell{
    vertical-align:top;
    padding-top: 120px;
  }
  .trip .trip-content p {
    font-size: 1.5em;
    line-height: 1.8em;
  }
}

@media screen and (max-width: 991px){
  .prize1 {
    height: 472px;
  }
  .prize1 .prize-box {
    top: 30px;
    bottom: 30px;
    left: 35px;
    right: 35px;
  }
  .prize1-img{
    height: 100%;
  }
  .prize1 .prize-box h3{
    padding-top: 20px;
  }
  .prize1 .prize-box img{
    width: 100%;
    max-width: 280px;
  }
  .prize1 .prize-box p {
    width: auto;
    margin: 0 5px;
    font-size: 1.5em;
  }
  .prize2 img, .prize3 img {
    width: 64%;
  }
  .prize2 .prize-box, .prize3 .prize-box {
    left: 61%;
  }

  .howto-step img{
    width: 100%;
  }
  .howto-step3{
    clear: both;
  }
  .page-th .howto>ul>li>p.howto-period{
    line-height: 20px;
  }
  .trip .bx-wrapper .bx-prev{
    left: -50px;
  }
  .trip .bx-wrapper .bx-next{
    right: -50px;
  }
  .trip .z-table-cell{
    width: 100%;
    display: block;
  }
  .trip-usa-img1{
    display: block;
  }
  .trip .z-table-cell.trip-usa-img2{
    display: none;
  }
}

@media screen and (max-width: 845px){
  .trip .bx-wrapper .bx-prev{
    left: 10px;
  }
  .trip .bx-wrapper .bx-next{
    right: 10px;
  }
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 760px){
  .prize1{
    margin-bottom:20px;
  }
  .prize2{
    padding-right: 10px;
  }
  .prize3{
    padding-left: 10px;
  }
  .prize2 img, .prize3 img{
      width: 100%;
  }
  .howto>ul>li>p.howto-period{
    line-height: 19px;
  }
  .prize2 .prize-box, .prize3 .prize-box{
    width: 100%;
    position: inherit;
    left: 0;
    text-align: center;
    padding: 15px;
    margin-top: -1px;
  }
  .prize-box h4::after{
    left: 50%;
    margin-left: -44px;
  }
  .prize2 p, .prize3 p{
    height: 60px;
  }

}
@media screen and (max-width: 620px){
  .howto-btn {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 585px){
  footer, footer .text-right{
    text-align: center;
  }
  footer .col-xs-6{
    width:100%;
  }
  footer img{
    max-width:100%;
  }
}
@media screen and (max-width: 580px) {
  .trip h2>span {
    display: block;
  }
  .trip-japan h2,
  .trip-usa h2
  {
    text-align: left;
    background-position: left center;
    padding-right: 0;
    padding-left: 70px;
    padding-top: 0;
    margin-top: 40px;
  }

}
@media screen and (max-width: 480px) {
  footer{
    padding-bottom: 75px;
  }
  .page-terms footer, .page-thank footer{
    padding-bottom: 20px;
  }
  .scrollup{
    display: none !important;
  }
  header{
    padding-top: 10px;
    padding-bottom: 5px;
  }
  header .col-xs-6{
    display: inline-block;
    float: none;
    width: auto;
  }
  header .lang-all{
    float: right;
  }
  header .logo img{
    height: 20px;
    width: auto;
  }
  header .lang-en{
    margin-right: 5px;
  }
  .fixed-btn {
    top: initial;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    -ms-transform-origin: inherit;
    -ms-transform: inherit;
    -webkit-transform-origin:inherit;
    -webkit-transform:inherit;
    transform-origin: inherit;
    transform: inherit;
  }
  .main-campaign{
    background-size: 30%;
    background-position: right -5px top;
  }
  .page-closed .main-campaign{
    background-size: 100%;
  }
  .main-campaign .z-table-cell {
    vertical-align: top;
  }
  .main-campaign h4, .main-campaign p{
    font-size: 1.5em;
  }
  .howto>ul{
    margin-bottom: 50px;
  }
  .howto>ul>li>label{
    float: none;
    margin-bottom: 10px;
  }
  .howto>ul>li>p{
    margin-left: 0;
    margin-bottom: 20px;
  }

  .trip .trip-content {
    padding: 30px 20px;
    text-align: left;
  }
  .terms>h2{
    padding-top:0;
    background-position: right center;
  }
  .terms>h2 span{
    display: block;
  }

  .section-thank h1{
    font-size: 3.6em;
  }
  .section-thank h2{
    font-size: 2.3em;
  }
  .section-thank h4{
    font-size: 1.8em;
  }
  .page-closed .section-main{
  height: 400px !important;}

}

@media screen and (max-width: 320px) {
  .main-campaign{
    background-size: 130px;
    background-position: right -5px bottom;
  }
  .page-closed .main-campaign{
    background-size: 330px;
  }
  .main-campaign h4, .main-campaign p{
    font-size: 1.8em;
  }
  .main-campaign p{
    width: 70%;
    font-size: 1.5em;
  }
  .prize2 p, .prize3 p {
    height: 110px;
  }
}
