/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env*
tests/*
readme.md
phpunit.xml
#package.json
gulpfile.js
app/Ana/cache
server.php
phpspec.yml
*.iml
/storage
.idea
/.phpstorm.meta.php
/_ide_helper.php
