@import url(https://fonts.googleapis.com/css?family=Kanit:400,500,700&display=swap);

/* ===========================================
    common
=========================================== */
body {
    font-family: Kanit,Leelawadee,Arial,"Helvetica Neue",sans-serif;
}
