@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans+SC&display=swap');
/*font-family: 'Roboto', sans-serif;*/

/* ===========================================
    common
=========================================== */
body {
    font-family: 'Noto Sans KR', sans-serif;
}