@charset "UTF-8";
/* CSS Document */

/* ----- common ----- */
body {
	min-width: 320px;
	background-color: #fff;
	font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
	font-weight: normal;
	font-variant: normal;
	color: #111;
	text-decoration: none;
	margin: 0;
	text-align: justify;
	-webkit-text-size-adjust: 100% !important;
}

a {
	text-decoration: none;
}

a:link {
	color: #0d308c;
	text-decoration: underline;
}

a:visited {
	color: #0d308c;
	text-decoration: underline;
}

a:hover {
	color: #0d308c;
	text-decoration: none;
}

a:active {
	color: #0d308c;
	text-decoration: none;
}

a:hover img {
	opacity: 0.8;
}

img {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border: 0;
	vertical-align: bottom;
}

ul, li {
	list-style: none;
}

ul {
	padding: 0;
}

/*
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}
*/

i {
	font-style: normal;
}

/* ----- header ----- */
#wrapper {
	width: 100%;
	overflow: hidden;
}

.br-sp {
	display: none;
}

.header_all {
	width: 100%;
	background-color: #0c308e;
	height: auto;
}

.global-header-box {
	display: table;
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

.header_logo,
.header_links {
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

.header_logo img {
	max-width: 77%;
	min-width: 248px;
	padding: 12px 0 0 0;
}

.header_links a:link {
	color: #fff;
	text-decoration: none;
}

.header_links a:visited {
	color: #fff;
	text-decoration: none;
}

.header_links a:hover {
	color: #fff;
	text-decoration: underline;
}

.header_links a:active {
	color: #fff;
	text-decoration: underline;
}

.header-links-nav {
	width: 100%;
	margin-left: auto;
	padding: 0;
	display: table;
	text-align: right;
}

/* btn_sns (Facebook) */
.fb-share-button.fb_iframe_widget span {
    vertical-align: baseline!important;
}

/* btn_lang */
.header-links-nav .btn_lang {
	display: table-cell;
	padding-top: 12px;
	color: #fff;
	font-size: 11px;
	line-height: 11px;
	vertical-align: top;
	text-align: left;
}

.header-links-nav li {
	display: inline-block;
	margin-right: 7px;
	line-height: 1;
	text-align: right;
}

.header-links-nav li:last-child {
	margin-right: 0;
}

.header-links-nav li.language_e,
.header-links-nav li.language_c {
	background: url(../image/header_arw.png) no-repeat left top;
	margin-top: 0;
	margin-right: 12px;
	padding-left: 14px;
	vertical-align: top;
}

.header-links-nav li.language_c {
	margin-right: 0;
}

/* btn_sns */
.header-links-nav .btn_sns {
	display: table-cell;
	margin-top: 5px;
	padding: 4px 0 12px 0;
	vertical-align: middle;
	text-align: right;
}

.header-links-nav .btn_sns li:first-child {
	margin-right: 10px;
}

/* ----- footer ----- */
footer {
	width: 100%;
	color: #111;
	font-size: 10px;
	line-height: 1.6;
	text-align: left;
}

.inquiry {
	border-top: solid 1px #bbb;
}

.inquiry ul {
	display: table;
	width: 90%;
	margin: 13px auto;
	padding: 0;
	list-style: none;
	font-weight: bold;
}

.inquiry li {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.inquiry li:first-child {
	text-align: left;
}

.inquiry li span {
	display: block;
}

.copyright {
	background-color: #0c308e;
	padding: 3px 0;
	color: #fff;
	font-size: 10px;
	text-align: center;
}

/* ----- contents ----- */
.content {
	width: 100%;
}

.content_base {
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.content_base_tt {
	height: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.content_base_cp {
	height: auto;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.bg_blue {
	background-color: #C6DDE6;
	width: 100%;
	text-align: center;
	height: auto;
}

.scloll2 {
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: 110px;
}

.img_space {
	margin-right: 10px;
}

/*--MENU--*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.l_border {
	border-left: 1px solid #fff;
}

/*--MENU--*/

#fixedTop {
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	display: none;
	background: #07529B;
	position: fixed;
	z-index: 9999;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	opacity: 0.8;
}

#fixedTop:hover {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 1;
}

.m_copy {
	font-size: 10px;
	font-weight: normal;
	height: auto;
	width: 100%;
	margin-top: 0px;
	text-align: left;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	color: #FFF;
	padding-top: 10px;
}

.inherit {
	color: inherit;
}

/* @media print {
  body {
  width: 980px;
  }
印刷時に画面と変更するスタイルを定義
-webkit-print-color-adjust: exact;
}	 */

/* for PC */
@media only screen and ( min-width: 40em ) /* 640 */ {
	body {
		min-width: 960px;
		font-size: 16px; /* 文字サイズ */
		line-height: 20px;
	}

	ul {
		padding: 0;
	}

	/* ----- header ----- */
	.global-header-box {
		width: 960px;
		height: 69px;
	}

	.header_logo {
		display: table-cell;
		width: 50%;
		padding: 15px 0 0 0;
		vertical-align: top;
	}

	.header_links {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		text-align: right;
	}

	.header_logo img {
		width: auto;
		max-width: 377px;
		height: auto;
		padding: 0;
	}

	.header-links-nav {
		width: 100%;
		margin-left: auto;
		padding: 0;
		display: table;
		vertical-align: top;
		text-align: right;
	}

	.header-links-nav .btn_lang {
		display: table-cell;
		width: 59%;
		padding-top: 10px;
		vertical-align: top;
		text-align: right;
	}

	.header-links-nav .btn_sns {
		display: table-cell;
		width: 41%;
		padding: 9px 0 0 0;
	}

	.header-links-nav li {
		margin: -5px 11px 0 0;
		font-size: 11px;
		line-height: 11px;
	}

	.header-links-nav li.language_e,
	.header-links-nav li.language_c {
		background: url(../image/header_arw.png) no-repeat left 1px;
		margin-right: 15px;
		padding-left: 14px;
	}

	.header-links-nav li.language_c {
		margin-right: 0;
	}

	/* ----- footer ----- */
	footer {
		font-size: 13px;
	}

	.inquiry ul {
		width: 960px;
		margin: 10px auto;
	}

	.inquiry li span {
		display: inline-block;
	}

	.inquiry li .inq {
		border-right: 1px solid #bcbcbc;
		margin-right: 15px;
		padding-right: 15px;
	}

	.copyright {
		padding: 6px 0;
	}

}
