@charset "UTF-8";
/* CSS Document */

i {
	font-style: normal;
}

.form {
	margin: 0;
	padding: 0;
}

.error-message {
	color: #CC0000;
}

/* ----- wrapper ----- */
.contents-header {
        text-align: center;
        width: 100%;
        margin: 0 auto;
}
.contents-header-title {
        width: 100%;
        margin: 0 auto;
        background-color: #03a3de;
}
.contents-header-title div {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
}
.contents-header-title div img {
}
.contents-header-title div h1 {
        margin: 0;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
}
.contents-header .contents-header-logo {
        width: 188px;
        height: 154px;
}
.contents-header-required{
        font-size: 14px;
        margin-top: 20px;
        clear: left;
}
.contents-header:after {
	content: "";
	clear: both;
	display: block;
}



.contents_form {
	width: 100%;
	background-color: #f6f6f6;
	margin: 15px 0;
	padding: 0 0 20px 0;
}
.contents_form-confirm {
	width: 100%;
	background-color: #f6f6f6;
	margin: 15px 0;
	padding: 0 0 0 0;
}

.contents,
.contents-wrapper,
.form-input,
.form-confirm,
.form-btn {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
.contents {
	width: 100%;
}

.form-input {
	padding: 5px 0 0 0;
}

.eticket-number,
.eticket-number-input {
	width: 100%;
}

	.eticket-number-input-prefix {
            display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
	}



.form-checkbox {
/*height: 70px;*/
}

.form-checkbox span {
	margin-top: 3px;
	font-size: 13px;
}

.form-checkbox:after {
	content: "";
	clear: both;
	display: block;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 21px;
	margin: 20px 0 10px 0;
	text-align: center;
}

h2 {
	font-size: 13px;
	margin: 0 0 3px 0;
}

/* ----- coupon ----- */
.coupon {
	width: 100%;
	border: 1px solid #aeaeae;
	border-radius: 4px;
	margin: 0 0 15px 0;
	padding: 12px 14px;
}

.coupon p {
	font-size: 10px;
	line-height: 1.65;
}

.contents-header-required {
	color: #de0b12;
}

.coupon-eticket-number {
	font-size: 14px;
	margin: 3px 0 0 0;
	padding: 0;
    text-align: initial;
}

/* ----- form ----- */
.text,
textarea,
.text-eticket-number,
.text-flight-no,
.text-birth_date_month,
.text-birth_date_day {
	width: 100%;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 14px;
	font-size: 13px;
	color: #999;
}

.text-eticket-number,
.text-flight-no,
.text-birth_date_month,
.text-birth_date_day {
	width: 100%;
	background: #f6f6f6;
}

.text-birth_date_month,
.text-birth_date_day {
  margin-top: 10px;
}

.eticket-number-input dt,
.flight-no-input dt,
.birth_date_input dt {
	margin: 15px 0 3px 0;
	font-size: 13px;
	font-weight: bold;
}

.eticket-number-input dd,
.flight-no-input dd,
.birth_date_input dd {
	font-size: 13px;
}

dl, dt, dd {
	margin: 0;
	padding: 0;
}

dl {
	padding: 0;
	font-size: 13px;
}

.form-input dt {
	margin: 15px 0 3px 0;
	font-size: 13px;
	font-weight: bold;
}

.form-input dd {
	font-size: 13px;
}

.form-input p.member,
.form-input p.mail,
.form-btn p {
	margin-top: 5px;
	font-size: 13px;
}

.form-input p.member,
.form-confirm p.member {
	margin-top: 20px;
}

.form-input p.mail,
.form-confirm p.mail {
	margin-top: 15px;
}

/* btn-area */
.form-btn {
	text-align: left;
}

.form-btn .submit-btn {
	padding: 20px 0 30px 0;
	text-align: center;
}

.form-btn .submit {
	width: 70%;
	margin: 0 auto;
	background: #0c308e;
	color: #fff;
	cursor: pointer;
}

/* --- checkbox --- */
.form-checkbox.agree_newsletter {
	margin-top: 20px;
}
.form-checkbox .member,
.form-checkbox .agree_newsletter,
.form-checkbox .policy{
	display: block;
/*	height: 16px; */
	position: relative;
}

.form-checkbox .member:after,
.form-checkbox .agree_newsletter:after,
.form-checkbox p.policy:after {
	content: "";
	clear: both;
	display: block;
}

.form-checkbox .member label,
.form-checkbox .agree_newsletter label,
.form-checkbox .policy label {
	display: inline;
	cursor: pointer;
}

.form-checkbox .member span,
.form-checkbox .agree_newsletter span,
.form-checkbox .policy span {
	font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
	display: inline-block;
	width: 90%;
	vertical-align: top;
}

/* select */
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
}

.birth_date_sep {
  display: none;
}

.birth_date_sep-left {
  display: none;
}

#country, #gender, #birth_date_year, #birth_date_month, #birth_date_day, #name_title {
	width: 95%;
	height: 20px;
	padding: 12px 0 12px 12px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 13px;
	background: #fff url(../image/sp_select_bg.png) no-repeat right center;
	background-size: contain;
}

#birth_date_year,
#birth_date_month,
#birth_date_day {
  background: #f6f6f6 url(../image/sp_select_bg.png) no-repeat right center;
  background-size: contain;
}

input[type=checkbox] {
	display: none;
	font-family: 'FontAwesome';
	content: "\f096";
}

input[type=checkbox] + label:before {
	display: inline-block;
	width: 25px;
	font-family: 'FontAwesome';
	content: "\f096";
	font-size: 20px;
	line-height: 1;
	color: #ccc;
}

input[type=checkbox]:checked + label:before {
	font-family: 'FontAwesome';
	content: "\f14a";
	color: #0c308e;
}

.submit-btn {
	display: block;
	clear: both;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

.submit-btn button {
	font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
	width: 225px;
	height: 55px;
	background: #0c308e;
	border: 0;
	border-radius: 6px;
	padding: 3px 30px 0 10px;
	color: #fff;
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
	-webkit-appearance: none;
	position: relative;
}

.submit-btn button i {
	display: block;
	position: absolute;
	top: 32%;
	right: 20%;
	font-family: 'FontAwesome';
	font-size: 22px;
}

/* ---------- error-page ---------- */
.error {
	display: inline-block;
	color: #da0e0e;
	font-size: 14px;
}

.error:before {
	display: inline-block;
	width: 14px;
	font-family: 'FontAwesome';
	content: "\f06a";
	font-size: 12px;
	line-height: 1;
	color: #d90d0d;
}

.message {
	display: none;
	color: #da0e0e;
	margin: 5px 0 0;
}

.message:before {
	display: inline-block;
	width: 14px;
	font-family: 'FontAwesome';
	content: "\f06a";
	line-height: 1;
	color: #d90d0d;
}

/* ---------- confirm-page ---------- */
.eticket-number-confirm,
.flight-no-confirm,
.birth_date_confirm {
	padding: 2px 0 10px 0;
}

.eticket-number-confirm dl,
.flight-no-confirm dl,
.birth_date_confirm dl {
	width: 100%;
	padding: 0 0 10px 0;
	text-align: left;
}

.eticket-number-confirm dt,
.flight-no-confirm dt,
.birth_date_confirm dt {
	float: left;
	width: 40%;
	font-size: 13px;
	font-weight: bold;
}

.eticket-number-confirm dd,
.flight-no-confirm dd,
.deparure-date-confirm dd {
	float: left;
	width: 60%;
	font-size: 13px;
	font-weight: normal;
}

.eticket-number-confirm dd p,
.flight-no-confirm dd p,
.birth_date_confirm dd p {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.form-confirm {
	padding: 2px 0 0 0;
}

.form-confirm p {
	margin-top: 0;
	font-size: 13px;
}

.form-confirm .form-checkbox,
.form-btn .form-checkbox {
	display: block;
/*	height: 13px; */
	margin: 20px 0 0 0;
	padding: 0 0 30px 0;
}

.form-confirm .form-checkbox p.member,
.form-confirm .form-checkbox p.agree_newsletter,
.form-btn .form-checkbox p.policy {
	height: 20px;
	margin: 0 0 15px 0;
	padding: 0 0 0 20px;
	position: relative;
}

.form-btn .form-checkbox p.policy {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.form-btn.confirm-policy .form-checkbox p.policy {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0 0 0 20px;
}

.form-confirm .member span,
.form-confirm .agree_newsletter span,
.form-btn.confirm-policy .policy span {
	width: 100%;
}

.form-btn.confirm-policy .policy span {
	width: 90%;
	padding: 0;
}

.form-confirm .form-checkbox i,
.form-btn .form-checkbox i {
	display: block;
	position: absolute;
	top: 20%;
	left: 0;
	font-family: 'FontAwesome';
	font-size: 14px;
	color: #0c308e;
}

/* チェックボックスを選択（display）、非選択（hidden） */
.form-confirm .form-checkbox i.display,
.form-btn .form-checkbox i.display {
	visibility: visible;
}

.form-confirm .form-checkbox i.hidden,
.form-btn .form-checkbox i.hidden {
	visibility: hidden;
}

.form-confirm dl {
	width: 100%;
	padding: 10px 0 0 0;
}

.form-confirm dl:after,
.eticket-number-input:after,
.eticket-number-confirm:after,
.flight-no-input:after,
.flight-no-confirm:after,
.birth_date_input:after,
.birth_date_confirm:after {
	content: "";
	clear: both;
	display: block;
}

.form-confirm dt {
	float: left;
	width: 40%;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}

.form-confirm dd {
	float: left;
	width: 60%;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
}

.form-confirm dd p {
	margin-bottom: 0;
}

/* btn */
.submit-btn.confirm-btn {
	clear: both;
	overflow: hidden;
	width: 100%;
	margin: 20px auto 30px;
	padding-top: 0;
}

.submit-btn.confirm-btn .back,
.submit-btn.confirm-btn .send {
	display: inline-block;
	width: 47%;
	marg . form-btn . confirm-policy . policy
	spanin: 0;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.submit-btn.confirm-btn .back {
	margin-right: 3%;
	background: #c4c4c4;
}

.submit-btn.confirm-btn .send {
	background: #0c308e;
}

.submit-btn button.back {
	padding: 3px 15px 0 30px;
	border-radius: 8px;
}

.submit-btn button.back i,
.submit-btn button.send i {
	display: block;
	position: absolute;
	top: 32%;
	left: 15%;
	font-family: 'FontAwesome';
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}

.submit-btn button.send i {
	top: 32%;
	right: 15%;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
}

/* ---------- thanks-page ---------- */
h2.getcode {
	color: #0c308d;
	font-size: 17px;
	line-height: 1.4;
	margin: 20px 0;
	text-align: center;
}

.campaigncode {
	width: 100%;
	background: #f6f6f6;
	margin: 0 0 14px 0;
	padding: 20px 0;
}

dl.code {
	width: 100%;
	font-size: 15px;
	text-align: center;
}

dl.code dt {
	margin: 0 0 7px 0;
	font-size: 15px;
	font-weight: bold;
}

dl.code dd {
	font-size: 15px;
}

.thanks-contents {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

.thanks-contents p {
	font-size: 13px;
}

.thanks-contents .ninjawifi {
	width: 40%;
	margin: 10px auto;
}

/* thanks-btn-area */
.thanks-form-btn {
	width: 90%;
	margin: 0 auto 20px;
	padding: 0;
	cursor: pointer;
	text-align: center;
}

.thanks-form-btn button {
	font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
	width: 100%;
	height: 55px;
	background: #0c308e;
	border: 0;
	border-radius: 6px;
	margin: 0 auto;
	padding: 3px 50px 0 15px;
	color: #fff;
	font-size: 17px;
	line-height: 1;
	font-weight: normal;
	-webkit-appearance: none;
	position: relative;
}

.thanks-form-btn button i {
	display: block;
	position: absolute;
	top: 40%;
	right: 10%;
	font-family: 'FontAwesome';
	font-size: 16px;
}

/* thanks-notice */
.thanks-notice {
	width: 90%;
	border: 1px solid #aeaeae;
	border-radius: 4px;
	margin: 0 auto 30px;
	padding: 12px 14px;
}

.thanks-notice h3.notice {
	margin: 0 0 8px -7px;
	padding: 0;
	color: #da0e0e;
	font-size: 13px;
	text-align: left;
	font-weight: normal;
}

.thanks-notice p {
	font-size: 10px;
	line-height: 1.65;
}

.thanks-notice h4.notice {
	margin: 10px 0 8px -7px;
}

/* ========== for PC ========== */
@media only screen and ( min-width: 40em ) /* 640 */ {
	h1 {
		margin: 40px 0 30px 0;
		font-size: 48px;
        font-weight: bold;
        color: #fff;
	}

	h2 {
		margin-bottom: 10px;
		font-size: 20px;
	}

	button:hover {
		opacity: 0.8;
	}

	/* ----- wrapper ----- */
	.contents_form,
	.contents_form-confirm,
	.contents,
	.eticket-number,
	.eticket-number-confirm,
  .flight-no,
  .flight-no-confirm,
  .departure-date,
  .birth_date_confirm,
	.form-input,
	.form-confirm,
	.form-btn {
		width: 100%;
	}

    .contents-header {
            text-align: center;
            width: 100%;
            margin: 0 auto;
    }
    .contents-header-title {
            width: 100%;
            margin: 0 auto;
            background-color: #03a3de;
    }
    .contents-header-title div {
            width: 800px;
            height: 174px;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
    }
    .contents-header-title div img {
            display: inline-block;
    }
    .contents-header-title div h1 {
            display: inline-block;
            line-height: 154px;
    }
    .contents-header .contents-header-logo {
            width: 188px;
            height: 154px;
    }
    .contents-header-required{
            font-size: 16px;
            margin-top: 20px;
            clear: left;
    }
	.contents-header:after {
		content: "";
		clear: both;
		display: block;
	}

	.contents_form {
		margin: 25px 0 0 0;
		padding: 15px 0 30px 0;
	}
	.contents_form-confirm {
		margin: 25px 0 0 0;
		padding: 15px 0 0 0;
	}
	.coupon,
	.form-input,
	.form-confirm,
	.eticket-number-input,
	.eticket-number-confirm,
  .flight-no-input,
  .flight-no-confirm,
  .birth_date_input,
  .birth_date_confirm,
	.form-btn {
		width: 800px;
		margin: 0 auto;
	}

	.form-input {
		padding: 0;
	}

	.coupon {
		padding: 20px 23px 12px 23px;
	}

	.coupon p {
		font-size: 13px;
		line-height: 1.7;
	}

	.eticket-number,
  .flight-no,
  .departure-date {
		margin-top: 20px;
	}

	.eticket-number-input:after,
	.eticket-number-confirm:after,
  .flight-no-input:after,
  .flight-no-confirm:after,
  .birth_date_input:after,
  .birth_date_confirm:after,
	dl:after {
		content: "";
		clear: both;
		display: block;
	}

	.eticket-number-input .flight-no-input .text-flight-no {
		width: 100%;
	}
	.eticket-number-input .text-eticket-number {
            width: 373px;
	}

  .birth_date_input .text-birth_date_month,
  .birth_date_input .text-birth_date_day {
    width: 100%;
  }

  .text-birth_date_month,
  .text-birth_date_day {
    width: 110px;
    margin-top: 0px;
  }

	.eticket-number-input .coupon-eticket-number,
	.form-checkbox {
		clear: both;
		width: 100%;
		margin-left: 208px;
		padding: 25px 0 0 0;
	}

	.eticket-number-input .coupon-eticket-number {
		font-size: 12px;
		padding: 3px 0 0 0;
	}

	.eticket-number-input dl {
		width: 960px;
		padding: 15px 0 0 0;
	}

	.eticket-number-input dt {
		float: left;
		width: 208px;
		padding: 0 15px 0 0;
		font-size: 16px;
		font-weight: bold;
		text-align: right;
	}

	.eticket-number-input dt span {
		font-size: 13px;
	}

	.eticket-number-input dd {
		float: left;
		width: 420px;
		font-size: 16px;
		font-weight: normal;
	}
	.eticket-number-input-prefix {
            display: inline;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
	}

	.form-checkbox {
		height: 75px;
	}

	/* ----- form ----- */
	.text,
	textarea,
	.text-eticket-number,
  .text-flight-no,
  .text-birth_date_month,
  .text-birth_date_day {
		border-radius: 8px;
		font-size: 16px;
	}

	.form-input dl {
		width: 960px;
		padding: 15px 0 0 0;
	}

	.form-input dt {
		float: left;
		width: 208px;
		padding: 0 15px 0 0;
		font-size: 16px;
		font-weight: bold;
		text-align: right;
	}

	.form-input dt span {
		font-size: 13px;
	}

	.form-input dd {
		float: left;
		width: 420px;
		font-size: 16px;
		font-weight: normal;
	}

	/* select */
	.custom {
		width: 420px;
		overflow: hidden;
		display: inline-block;
		position: relative;
	}

  .custom-year {
		width: 144px;
        overflow: inherit;
	}
  .custom-month,
  .custom-day {
		width: 133px;
        overflow: inherit;
	}
	.custom:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 52px;
		padding-right: 52px;
		display: block;
		content: "";
		background: url(../image/pc_select_bg.png) no-repeat right center;
		background-size: contain;
		pointer-events: none;
	}

	.custom > select {
		width: 105%;
		overflow: hidden;
		padding: 0;
	}

  #birth_date_year {
		width: 128px;
		height: 20px;
		padding: 12px 0 12px 12px;
		border: 2px solid #ccc;
		border-radius: 8px;
		font-size: 16px;
		background-image: none;
    background: #f6f6f6;
    color: #999;
	}
  #birth_date_month,
  #birth_date_day {
		width: 117px;
		height: 20px;
		padding: 12px 0 12px 12px;
		border: 2px solid #ccc;
		border-radius: 8px;
		font-size: 16px;
		background-image: none;
    background: #f6f6f6;
    color: #999;
	}


  .birth_date_sep {
    margin: 0 10px;
    display: inline;
  }

	#country, #gender, #name_title {
		width: 105%;
		height: 20px;
		padding: 12px 0 12px 12px;
		border: 2px solid #ccc;
		border-radius: 8px;
		font-size: 16px;
		background-image: none;
		background: #fff;
	}

	input[type=checkbox] + label:before {
		display: inline-block;
		width: 30px;
		font-size: 22px;
	}

	input[type=submit] {
		font-family: 'FontAwesome';
		width: 300px;
		height: 64px;
		background: #0c308e;
		border: 0;
		border-radius: 8px;
		padding: 3px 0 0 15px;
		color: #fff;
		font-size: 22px;
		line-height: 1;
		font-weight: normal;
	}

	.form-btn .form-checkbox {
		margin: 30px 0 0 208px;
	}

	.form-input p.member,
	.form-input p.mail,
	.form-confirm p.member,
	.form-confirm p.mail,
	.form-btn p {
		margin-top: 5px;
		font-size: 16px;
	}

	.form-input p.mail {
		margin-top: 15px;
	}
	.form-checkbox {
		height: inherit;
	}

	.form-checkbox span {
		font-size: 16px;
	}

	.form-checkbox.agree_newsletter {
		margin-top: 0px;
	}

	.form-btn .submit {
		width: 320px;
	}

	.form-btn .submit-btn {
		margin: 0 0 60px 0;
	}

	.submit-btn button {
		width: 300px;
		height: 64px;
		padding: 3px 30px 0 15px;
		font-size: 22px;
		border-radius: 8px;
	}

	.submit-btn button i {
		display: block;
		position: absolute;
		top: 35%;
		right: 24.5%;
		font-family: 'FontAwesome';
		font-size: 22px;
		font-weight: bold;
	}

	/* ---------- error-page ---------- */
	.error {
		display: inline-block;
		color: #da0e0e;
		font-size: 15px;
        margin-top: 5px;
	}

	.error.eticket-number {
		margin: 5px 0 5px 210px;
	}

	.error.country, .error.country {
		clear: both;
		margin: 6px 0 0 210px;
	}

	.error:before {
		display: inline-block;
		width: 20px;
		font-family: 'FontAwesome';
		content: "\f06a";
		font-size: 16px;
		line-height: 1;
		color: #d90d0d;
	}

	/* ---------- confirm-page ---------- */
	.eticket-number-confirm,
  .flight-no-confirm,
  .birth_date_confirm {
		padding: 17px 0 10px 0;
	}

	.eticket-number-confirm dl,
  .flight-no-confirm dl,
  .birth_date_confirm dl {
		width: 960px;
		padding: 15px 0 0 0;
	}

	.eticket-number-confirm dt,
  .flight-no-confirm dt,
  .birth_date_confirm dt {
		float: left;
		width: 228px;
		padding: 0 35px 0 0;
		font-size: 16px;
		font-weight: bold;
		text-align: right;
	}

	.eticket-number-confirm dd,
  .flight-no-confirm dd,
  .birth_date_confirm dd {
		float: left;
		width: 400px;
		font-size: 16px;
		font-weight: normal;
	}

	.eticket-number-confirm dd p,
  .flight-no-confirm dd p,
  .birth_date_confirm dd p {
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

	.form-confirm p {
		margin-top: 0;
		font-size: 16px;
	}


	.form-confirm .form-checkbox p.member,
	.form-confirm .form-checkbox p.agree_newsletter,
	.form-btn .form-checkbox p.policy {
		margin: 0 0 20px 0;
		padding: 0 0 0 30px;
		position: relative;
	}
	.form-btn .form-checkbox p.policy {
		margin: 0;
    }

	.form-btn .form-checkbox p.policy {
		padding: 0;
	}

	.form-btn.confirm-policy {
            margin: 30px auto 0;
	}
	.form-btn.confirm-policy .policy span {
		padding: 0 0 0 10px;
	}

	.form-confirm .form-checkbox i,
	.form-btn .form-checkbox i {
		display: block;
		position: absolute;
		top: 8%;
		left: 0;
		font-family: 'FontAwesome';
		font-size: 18px;
		color: #0c308e;
	}

	.form-confirm dl {
		width: 960px;
		padding: 30px 0 0 0;
	}

	.form-confirm dt {
		float: left;
		width: 228px;
		margin: 0;
		padding: 0 35px 0 0;
		font-size: 16px;
		font-weight: bold;
		text-align: right;
	}

	.form-confirm dd {
		float: left;
		width: 400px;
		padding: 0;
		font-size: 16px;
		font-weight: normal;
	}

	.form-confirm dd p {
		margin-bottom: 15px;
	}

	.form-confirm .form-checkbox {
		margin-left: 208px;
	}

	.submit-btn.confirm-btn {
		width: 546px;
		margin: 20px auto 60px;
	}

	.submit-btn.confirm-btn:after {
		content: "";
		clear: both;
		display: block;
	}

	.submit-btn.confirm-btn .back,
	.submit-btn.confirm-btn .send {
		display: inline-block;
		width: 260px;
		margin: 0;
		color: #fff;
		cursor: pointer;
	}

	.submit-btn.confirm-btn .back {
		margin: 0 20px 0 0;
		background: #c4c4c4;
	}

	.submit-btn.confirm-btn .send {
		background: #0c308e;
	}

	.submit-btn button.back {
		padding: 3px 15px 0 30px;
		font-size: 22px;
		border-radius: 8px;
	}

	.submit-btn button.back i {
		display: block;
		position: absolute;
		top: 35%;
		left: 24.5%;
		font-family: 'FontAwesome';
		font-size: 22px;
		font-weight: bold;
		text-align: left;
	}

	.submit-btn button.send i {
		top: 35%;
		right: 24.5%;
	}

	/* ---------- thanks-page ---------- */
	h2.getcode {
		margin: 20px 0 15px 0;
		padding-top: 5px;
		font-size: 26px;
		line-height: 1.5;
	}

	.campaigncode {
		width: 700px;
		margin: 0 auto 23px;
		padding: 52px 0 46px 0;
		border-radius: 3px;
	}

	dl.code {
		margin: 0 auto;
		padding: 0;
	}

	dl.code dt {
		float: none;
		width: auto;
		display: inline-block;
		margin: 0 30px 0 0;
		font-size: 19px;
		text-align: left;
		font-weight: bold;
	}

	dl.code dd {
		float: none;
		width: auto;
		display: inline-block;
		font-size: 22px;
		text-align: left;
	}

	/* thanks-contents */
	.thanks-contents p {
		font-size: 16px;
		text-align: center;
	}

	.thanks-contents .ninjawifi {
		width: 166px;
		margin: 10px auto 15px;
	}

	/* thanks-btn-area */
	.thanks-form-btn {
		width: 90%;
		margin: 0 auto 35px;
		padding: 0;
		cursor: pointer;
		text-align: center;
	}

	.thanks-form-btn button {
		font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
		width: 400px;
		height: 64px;
		background: #0c308e;
		border: 0;
		border-radius: 8px;
		margin: 0 auto;
		padding: 3px 50px 0 41px;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		font-weight: normal;
		-webkit-appearance: none;
		position: relative;
	}

	.thanks-form-btn button i {
		display: block;
		position: absolute;
		top: 42%;
		right: 13%;
		font-family: 'FontAwesome';
		font-size: 15.5px;
	}

	/* thanks-notice */
	.thanks-notice {
		width: 564px;
		border: none;
		margin: 0 auto 60px;
		padding: 0;
	}

	.thanks-notice h3.notice {
		margin: 0 0 12px -9px;
		padding: 0;
		color: #111;
		font-size: 18px;
		font-weight: bold;
	}

	.thanks-notice p {
		font-size: 13px;
		line-height: 1.8;
	}

	.thanks-notice h4 {
		margin: 26px 0 8px -2px;
		padding: 0;
		color: #111;
		font-size: 16px;
		font-weight: bold;
	}


	dt span.form--attention {
		color: #f00;
		font-size: 16px;
		font-weight: bold;
	}
}
