#cookie-confirm {
	display: block !important; position: relative; z-index: 100001;
}
#cookie-confirm .confirm-overlay {
	left: 0%; top: 0%; width: 100%; height: 100%; position: fixed; background-color: rgba(0, 0, 0, 0.4);
}
#cookie-confirm .confirm-wrapper {
	left: 0%; top: 0%; width: 100%; height: 100%; display: table; position: fixed;
}
#cookie-confirm .confirm-wrap {
	width: 100%; text-align: center; vertical-align: middle; display: table-cell; z-index: 100010;
}
#cookie-confirm .confirm-content {
	margin: 0px auto; padding: 16px; border: 5px solid rgb(221, 221, 221); width: 60%; overflow: auto; z-index: 100012; max-width: 620px; box-sizing: border-box; background-color: white; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box;
}
#cookie-confirm .confirm-content p {
	text-align: left; line-height: 1.3;
}
#cookie-confirm .confirm-content .cookie-send {
	background: rgb(172, 172, 172); padding: 6px 20px 4px; border-radius: 6px; border: 1px solid rgb(172, 172, 172); color: rgb(255, 255, 255); line-height: 1.3; font-size: 1.8rem; text-decoration: none !important; margin-top: 8px; margin-bottom: 3px; display: inline-block; cursor: default; min-width: 180px; box-shadow: 0px 2px 0px 0px #909090; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: #909090 0px 2px 0px 0px; -moz-box-shadow: #909090 0px 2px 0px 0px;
}
#cookie-confirm .confirm-content .is-active.cookie-send {
	background: rgb(0, 47, 99); border: 1px solid rgb(0, 47, 99); color: rgb(255, 255, 255); cursor: pointer; box-shadow: 0px 2px 0px 0px #04122f; -webkit-box-shadow: #04122f 0px 2px 0px 0px; -moz-box-shadow: #04122f 0px 2px 0px 0px;
}
#cookie-confirm .confirm-content a {
	color: rgb(13, 36, 106); text-decoration: underline; display: inline-block;
}
#cookie-confirm .confirm-content a[target='_blank'] {
	background: url("./icon_blank_BLU.png") no-repeat right 0.2em; padding-right: 16px;
}
.bottom#cookie-confirm .confirm-overlay {
	display: block;
}
.bottom#cookie-confirm .confirm-wrap {
	padding: 16px; border: 5px solid rgb(221, 221, 221); left: 0px; top: 0px; display: block; position: absolute; z-index: 100002; background-color: white;
}
.bottom#cookie-confirm .confirm-content {
	margin: 0px auto; padding: 0px; border: currentColor; width: 98%; max-width: none;
}
.bottom#cookie-confirm .confirm-content p {
	text-align: center;
}
@media all and (max-width:780px) and (min-width:0px)
{
#cookie-confirm .confirm-content {
	margin: 0px auto; width: 94%; max-width: none;
}
.bottom#cookie-confirm .confirm-content {
	width: 100%;
}
}
#cookie-confirm .cookie-chk {
	margin-top: 20px;
}
#cookie-confirm .ico-checkbox input[type=checkbox] {
	margin: 0px; display: none;
}
#cookie-confirm .ico-checkbox input[type=checkbox] + label {
	font-size: 1.8rem; vertical-align: middle; display: inline-block; position: relative; cursor: pointer;
}
#cookie-confirm .ico-checkbox input[type=checkbox] + label {
	padding: 0px 0px 0px 22px;
}
#cookie-confirm .ico-checkbox input[type=checkbox] + label::before {
	border: 1px solid rgb(0, 47, 99); left: 0px; top: 50%; display: block; position: absolute; content: ""; background-color: rgb(255, 255, 255);
}
#cookie-confirm .ico-checkbox input[type=checkbox] + label::before {
	width: 16px; height: 16px; margin-top: -9px; background-image: none;
}
#cookie-confirm .ico-checkbox input[type=checkbox]:checked + label::before {
	background-position: 0px -431px; background-image: url("/_shared-wws/images/ui_sprite.png");
}
