html.is-moduleModal body {
	overflow: hidden;
}
html.is-moduleModal-fixed .js-modalContent {
	position: fixed;
}
.moduleModal {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; display: none; position: absolute; z-index: 9999;
}
.js-modal {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; display: none; position: absolute; z-index: 9999;
}
.moduleModalContent {
	left: 0px; top: 0px; width: 100%; position: relative; z-index: 1; -webkit-overflow-scrolling: touch;
}
.js-modalContent {
	left: 0px; top: 0px; width: 100%; position: relative; z-index: 1; -webkit-overflow-scrolling: touch;
}
.js-modalContent iframe {
	width: 100%; height: 100%;
}
.modal {
	left: 0px; top: 0px; width: 100%; display: none; position: absolute; z-index: 99999;
}
.moduleModalOverlay {
	background: rgb(255, 255, 255); left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; cursor: pointer;
}
.js-modalOverlay {
	background: rgb(255, 255, 255); left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; cursor: pointer;
}
@media screen and (max-width:767px)
{
.is-moduleModal-pc .moduleModal {
	display: none !important;
}
.is-moduleModal-sp body {
	overflow: hidden;
}
.is-moduleModal-sp .moduleModal {
	overflow: hidden;
}
}
.moduleModalCloseBtn {
	top: 0px; width: 50px; height: 50px; text-align: center; right: 0px; z-index: 3;
}
.moduleModalCloseBtn::before {
	color: rgb(19, 68, 143); font-size: 1.6rem;
}
.modal-title {
	background: rgb(255, 255, 255); padding: 15px 10px; text-align: center; color: rgb(19, 68, 143); font-size: 2rem; border-bottom-color: rgb(19, 68, 143); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.modal-sub-text {
	background: rgb(19, 68, 143); padding: 15px 10px; color: rgb(255, 255, 255);
}
#module-area select {
	border-radius: 0px; -webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
#module-area input {
	border-radius: 0px; -webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
#module-area button {
	border-radius: 0px; -webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
#module-area select::-ms-expand {
	display: none;
}
#module-area select {
	background: url("/_shared-wws/images/arr_select.png") no-repeat right rgb(255, 255, 255);
}
.isIE9 #module-area select {
	background-image: none;
}
#module-area .pass-place {
	display: none !important;
}
.module-toggletab .module-toggletabContent {
	display: none;
}
.module-toggletab .is-active.module-toggletabContent {
	display: block;
}
#main-module {
	background: rgb(19, 68, 143); border-radius: 7px 7px 0px 0px; color: rgb(255, 255, 255); font-size: 1.2rem; -webkit-border-radius: 7px 7px 0 0;
}
#main-module a.ico-expoint {
	padding-left: 20px; display: inline-block; position: relative;
}
#main-module a.ico-expoint::before {
	background-position: 0px -457px; left: 0px; top: 50%; width: 17px; height: 17px; margin-top: -9px; vertical-align: middle; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
#main-module a[target='_blank'].ico-expoint::after {
	font-family: iconset; margin-top: -3px; margin-left: 0.5em; vertical-align: middle; display: inline-block; content: "\e90a";
}
#main-module a.no-blank.ico-expoint::after {
	display: none;
}
#main-module a.radio.ico-expoint {
	margin-left: 5px; vertical-align: middle;
}
#main-module .mod-txt {
	padding: 8px 5px; border: 1px solid rgb(255, 255, 255); width: 100%; display: block;
}
#main-module .mod-select {
	padding: 8px 5px; border-radius: 0px; border: 1px solid rgb(255, 255, 255); width: 100%; line-height: 1.3; font-size: 1.2rem; cursor: pointer; -webkit-border-radius: 0;
}
#main-module a {
	color: rgb(255, 255, 255); text-decoration: none;
}
#main-module .item-input {
	padding: 8px 30px 8px 8px; height: 34px; display: block; position: relative; cursor: pointer;
}
#main-module .item-input .item-value {
	background: rgb(255, 255, 255); padding: 8px 30px 7px 8px; left: 0px; top: 0px; width: 100%; color: rgb(0, 0, 0); display: block; position: absolute;
}
#main-module .ttl {
	display: none;
}
#main-module .module-toggletabBtn {
	background: rgb(51, 51, 51); padding: 15px 30px 15px 3%; color: rgb(255, 255, 255); line-height: 1.2; font-size: 1.4rem; text-decoration: none; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; display: block; position: relative;
}
#main-module .module-toggletabBtn::after {
	top: 50%; right: 10px; color: rgb(255, 255, 255); line-height: 1; font-family: iconset; font-size: 1.8rem; margin-top: -9px; position: absolute; content: "\e900";
}
#main-module .ico-radio input[type=radio] + label::before {
	border-color: rgb(255, 255, 255);
}
#main-module .ico-radio input[type=checkbox] + label::before {
	border-color: rgb(255, 255, 255);
}
#main-module .ico-checkbox input[type=radio] + label::before {
	border-color: rgb(255, 255, 255);
}
#main-module .ico-checkbox input[type=checkbox] + label::before {
	border-color: rgb(255, 255, 255);
}
#main-module .mod-submit {
	background: rgb(255, 198, 0); margin: 15px auto 0px; padding: 10px; border: currentColor; width: 70%; text-align: center; font-size: 1.8rem; display: block;
}
#main-module .module-toggletabMenu .module-toggletabBtn {
	transition:background 0.3s; -webkit-transition: background .3s;
}
#main-module .is-active.module-toggletabMenu .module-toggletabBtn {
	background: rgb(19, 68, 143);
}
#main-module .is-active.module-toggletabMenu .module-toggletabBtn::after {
	content: "\e903";
}
#main-module #tickets .module-toggletabBtn {
	border-radius: 6px 6px 0px 0px; -webkit-border-radius: 6px 6px 0 0;
}
#main-module .module-inner {
	padding: 0px 3% 15px;
}
#main-module .module-tabbox {
	margin-top: 10px;
}
#main-module :nth-child(1).module-tabbox {
	margin-top: 0px;
}
#main-module .module-tabBtnWrap {
	margin: 0px -1% 12px; width: 102%; height: 45px; word-spacing: -1em; display: table; border-collapse: separate; table-layout: fixed; border-spacing: 3px 0;
}
#main-module .module-tabBtnWrap .module-tabBtn {
	padding: 5px; border: 1px solid rgb(204, 204, 204); width: 34%; text-align: center; line-height: 1.2; font-size: 1.2rem; word-spacing: normal; vertical-align: middle; display: table-cell; position: relative;
}
#main-module .module-tabBtnWrap .module-tablinks {
	padding: 5px; border: 1px solid rgb(204, 204, 204); width: 34%; text-align: center; line-height: 1.2; font-size: 1.2rem; word-spacing: normal; vertical-align: middle; display: table-cell; position: relative;
}
#main-module .module-tabBtnWrap .is-active.module-tabBtn::after {
	border-width: 10px 12px 0px; border-style: solid; border-color: transparent; left: 50%; width: 0px; height: 0px; margin-left: -12px; position: absolute; content: "";
}
#main-module .module-tabBtnWrap .is-active.module-tabBtn::before {
	border-width: 10px 12px 0px; border-style: solid; border-color: transparent; left: 50%; width: 0px; height: 0px; margin-left: -12px; position: absolute; content: "";
}
#main-module .module-tabBtnWrap .is-active.module-tabBtn::before {
	bottom: -9px; border-top-color: rgb(19, 68, 143); z-index: 2;
}
#main-module .module-tabBtnWrap .is-active.module-tabBtn::after {
	bottom: -10px; border-top-color: rgb(255, 255, 255); z-index: 1;
}
#main-module .module-tabBtnWrap .module-tablinks {
	padding-left: 10px;
}
#main-module .module-tabBtnWrap .module-tablinks span::before {
	border-width: 3px 0px 3px 5px; border-style: solid; border-color: transparent transparent transparent rgb(255, 255, 255); width: 0px; height: 0px; margin-top: -3px; margin-right: 3px; margin-left: -5px; vertical-align: middle; display: inline-block; content: "";
}
#main-module #module-status .js-tabBtnWrap {
	width: 68.6%;
}
.login #main-module #module-booking .module-tabBtnWrap {
	width: 68.6%;
}
.login #main-module #module-checkin .module-tabBtnWrap {
	width: 68.6%;
}
#main-module .module-info-txt {
	padding-top: 3px;
}
#main-module .module-info-txt + .module-info {
	margin-top: 8px;
}
#main-module .module-info-txt + div {
	margin-top: 8px;
}
#main-module .module-inner :nth-child(1).module-info-txt {
	padding-top: 0px;
}
#main-module .module-wrap + .module-info {
	margin-top: 8px;
}
#main-module .module-info {
	width: 105%; margin-left: -5%; word-spacing: -1em; display: table;
}
#main-module .module-info li {
	text-align: left; line-height: 1.2; margin-left: 5%; word-spacing: normal; vertical-align: top; display: inline-block;
}
#main-module .module-info p {
	text-align: left; line-height: 1.2; margin-left: 5%; word-spacing: normal; vertical-align: top; display: inline-block;
}
#main-module .module-info li a {
	padding-left: 8px; display: inline-block; position: relative;
}
#main-module .module-info p a {
	padding-left: 8px; display: inline-block; position: relative;
}
#main-module .module-info li a::before {
	border-width: 3px 0px 3px 5px; border-style: solid; border-color: transparent transparent transparent rgb(255, 255, 255); left: 0px; top: 0.5em; width: 0px; height: 0px; margin-top: -3px; vertical-align: middle; position: absolute; content: "";
}
#main-module .module-info p a::before {
	border-width: 3px 0px 3px 5px; border-style: solid; border-color: transparent transparent transparent rgb(255, 255, 255); left: 0px; top: 0.5em; width: 0px; height: 0px; margin-top: -3px; vertical-align: middle; position: absolute; content: "";
}
#main-module .module-info li a.ico-expoint {
	padding-left: 20px;
}
#main-module .module-info p a.ico-expoint {
	padding-left: 20px;
}
#main-module .module-info li a.ico-expoint::before {
	background-position: 0px -457px; border: currentColor; left: 0px; top: 50%; width: 17px; height: 17px; margin-top: -9px; background-image: url("/_shared-wws/images/ui_sprite.png");
}
#main-module .module-info p a.ico-expoint::before {
	background-position: 0px -457px; border: currentColor; left: 0px; top: 50%; width: 17px; height: 17px; margin-top: -9px; background-image: url("/_shared-wws/images/ui_sprite.png");
}
#main-module .mod-btn-link a {
	background: rgb(185, 199, 222); padding: 10px 30px 10px 5px; text-align: center; color: rgb(19, 68, 143); line-height: 1.2; font-size: 1.4rem; font-weight: bold; display: block; position: relative;
}
#main-module .mod-btn-link a::after {
	top: 50%; right: 10px; color: rgb(19, 68, 143); font-family: iconset; margin-top: -7px; position: absolute; content: "\e902";
}
#main-module .module-box {
	margin-top: 8px; position: relative;
}
#main-module .m_span_IE9 {
	padding: 8px 0px 8px 5px; left: 0px; top: 0px; width: 97.5%; height: 34px; color: rgb(170, 170, 170); overflow: hidden; white-space: nowrap; position: absolute;
}
.ja #main-module .m_span_IE9 {
	padding-top: 11px;
}
.fr #main-module .m_span_IE9 {
	padding-top: 11px;
}
.de #main-module .m_span_IE9 {
	padding-top: 11px;
}
.zh-CN #main-module .m_span_IE9 {
	padding-top: 11px;
}
.zh-TW #main-module .m_span_IE9 {
	padding-top: 11px;
}
#main-module .m_span_IE9 .zh-HK {
	padding-top: 11px;
}
#main-module .btn-change {
	width: 12%; height: 34px; float: right;
}
#main-module .icon-worldselect {
	background: rgb(255, 255, 255); padding: 0px; border: currentColor; width: 100%; height: 34px; line-height: 0; font-size: 0px; position: relative; z-index: 2; cursor: pointer; box-shadow: none; -webkit-box-shadow: none;
}
#main-module .icon-worldselect::after {
	background-position: 0px -26px; left: 50%; top: 50%; width: 23px; height: 17px; margin-top: -8px; margin-left: -12px; display: block; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
#module-ticket .autocomplete-wrapper {
	width: 88%; float: left; position: relative; z-index: 2;
}
#module-ticket .autocomplete-wrapper a.clear {
	background: url("/_shared-wws/images/module/btn_suggest_delete.gif") no-repeat 0px 0px; top: 50%; width: 18px; height: 18px; right: 4px; text-indent: -99999px; overflow: hidden; margin-top: -9px; display: block; position: absolute; z-index: 6; cursor: pointer;
}
#module-ticket .input-text input {
	border-color: rgb(255, 255, 255);
}
#module-ticket .targ.autocomplete {
	border: 1px solid rgb(89, 115, 179); left: -1px; width: 114%; margin-top: 1px; position: absolute; background-color: rgb(255, 255, 255);
}
#module-ticket .right.targ.autocomplete {
	left: -258px;
}
#module-ticket .targ.autocomplete .result-data {
	background: url("/common-ver1/images/cmn/line_dot_bk.gif") repeat-x 0px bottom; padding: 4px; color: rgb(43, 122, 186); line-height: 1.3; font-weight: bold; display: block;
}
#module-ticket .targ.autocomplete .result-list li {
	border: currentColor; line-height: 1.3; float: none; display: block; cursor: pointer;
}
#module-ticket .targ.autocomplete .result-list li.active {
	background: rgb(232, 232, 232);
}
#module-ticket .targ.autocomplete .result-list li.d_active a {
	background: rgb(232, 232, 232);
}
#module-ticket .targ.autocomplete .result-list li a {
	padding: 5px 4px 4px; width: 100%; color: rgb(51, 51, 51); display: block;
}
#module-ticket .targ.autocomplete .result-list li a:hover {
	background: rgb(232, 232, 232);
}
#module-ticket .autocomplete .cover {
	background: blue; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 9; opacity: 0;
}
#module-ticket .textoverlay {
	padding: 8px 26px 0px 8px; left: 0px; top: 0px; right: 0px; color: rgb(51, 51, 51); line-height: 1.5; overflow: hidden; font-size: 1.2rem; font-style: normal; font-variant: normal; white-space: nowrap; position: absolute; z-index: 5; -ms-text-overflow: ellipsis; background-color: white;
}
.ja #module-ticket .textoverlay {
	padding-top: 9px;
}
.fr #module-ticket .textoverlay {
	padding-top: 9px;
}
.de #module-ticket .textoverlay {
	padding-top: 9px;
}
.zh-CN #module-ticket .textoverlay {
	padding-top: 9px;
}
.zh-TW #module-ticket .textoverlay {
	padding-top: 9px;
}
#module-ticket .textoverlay .zh-HK {
	padding-top: 9px;
}
.isMobileDevice #module-ticket .textoverlay {
	padding: 9px 8px 0px;
}
#module-ticket .airport-select {
	background: rgb(255, 255, 255); margin-top: 5px; position: relative; z-index: 6;
}
#module-ticket .m_departureAirport.airport-select {
	z-index: 7;
}
#module-ticket .airport-select.airport-select {
	margin-top: 8px;
}
#module-ticket .airport-select .input-text input {
	padding: 2px 28px 0px 7px; width: 100% !important; line-height: 1.5; font-size: 1.2rem;
}
#module-ticket .airport-select .input-text input::-ms-clear {
	visibility: hidden;
}
#module-ticket .radio-value-ONE_WAY .returnDate_ticket {
	overflow: hidden; position: relative; cursor: default;
}
#module-ticket .radio-value-ONE_WAY .returnDate_ticket::before {
	background: rgb(102, 102, 102); left: 0px; top: 0px; width: 100%; height: 60px; position: absolute; z-index: 5; content: ""; opacity: 0.5;
}
@media not all
{
#module-ticket .textoverlay {
	padding-top: 9px !important;
}
}
.set-calendar {
	width: 103%; margin-left: -3%;
}
.set-calendar .calbox {
	background: rgb(255, 255, 255); width: 47%; color: rgb(51, 51, 51); margin-left: 3%; float: left;
}
.set-calendar .ico-calendar::after {
	background-position: 0px -405px; top: 50%; width: 16px; height: 16px; right: 10px; margin-top: -8px; display: block; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
.set-calendar .mod-select {
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
}
.mod-toggleContents {
	display: none;
}
.is-open .mod-toggleContents {
	display: block;
}
.set-num .item-num-set + .item-num-set {
	margin-top: 8px;
}
.set-num .mod-select {
	width: 80% !important; height: 34px; padding-top: 9px; padding-bottom: 9px; padding-left: 26% !important; float: left; background-image: none !important; background-attachment: scroll; background-repeat: repeat; background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: rgb(255, 255, 255); -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
.set-num .mod-select option {
	font-size: 14px; box-sizing: border-box; -webkit-box-sizing: border-box;
}
.set-num .input-group-btn {
	width: 10%; height: 34px; float: left;
}
.set-num .item-val {
	background: rgb(185, 199, 222); margin: 0px; padding: 0px; border: currentColor; width: 100%; height: 34px; position: relative;
}
.set-num .item-val::before {
	left: 50%; top: 50%; width: 16px; height: 16px; color: rgb(255, 255, 255); line-height: 1; font-family: iconset; font-size: 1.6rem; margin-top: -8px; margin-left: -8px; position: absolute;
}
.set-num .minus.item-val::before {
	content: "\e90b";
}
.set-num .plus.item-val::before {
	content: "\e90e";
}
.set-num .btn-numset-more {
	padding: 6px 0px 6px 20px; margin-top: 2px; display: inline-block; position: relative; cursor: pointer; min-width: 50%;
}
.set-num .btn-numset-more + .js-toggleContent {
	padding-top: 2px;
}
.set-num .btn-numset-more::before {
	background-position: 0px -353px; left: 0px; top: 50%; width: 16px; height: 16px; margin-top: -8px; display: block; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
.set-num .mod-toggleContents {
	padding-bottom: 10px; margin-top: 8px;
}
.is-open.set-num .btn-numset-more {
	display: none;
}
.set-code {
	-ms-zoom: 1;
}
.set-code::after {
	clear: both; display: block; content: "";
}
.set-code .btn-code-more {
	padding: 8px 0px 6px 20px; width: auto; margin-top: 2px; float: left; display: inline-block; position: relative;
}
.set-code .btn-code-more + .js-toggleContent {
	padding-top: 4px;
}
.set-code .btn-code-more::before {
	background-position: 0px -379px; left: 0px; top: 50%; width: 16px; height: 16px; line-height: 18px; margin-top: -7px; display: block; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
.set-code .set-code-info {
	width: 18px; height: 18px; margin-left: 5px; vertical-align: middle; display: inline-block;
}
.set-code .set-code-info a {
	width: 18px; height: 18px; text-align: center; display: block; position: relative;
}
.set-code .set-code-info a::before {
	background-position: 0px -457px; top: 10px; width: 17px; height: 17px; right: 0px; margin-top: 0px; vertical-align: middle; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
.set-code .mod-toggleContents {
	clear: both;
}
#module-status .flightnum {
	width: 103%; padding-top: 1px; margin-top: -2px; margin-left: -3%; word-spacing: -1em; display: table;
}
#module-status .arrserch {
	width: 103%; padding-top: 1px; margin-top: -2px; margin-left: -3%; word-spacing: -1em; display: table;
}
#module-status .flightnum .module-box {
	width: 47%; margin-left: 3%; word-spacing: normal; vertical-align: middle; display: inline-block;
}
#module-status .arrserch .module-box {
	width: 47%; margin-left: 3%; word-spacing: normal; vertical-align: middle; display: inline-block;
}
#module-status .flightnum select option {
	font-size: 1.4rem;
}
#module-status .arrserch select option {
	font-size: 1.4rem;
}
#module-status .flightnum :nth-child(3).select-wrap {
	text-align: right; padding-right: 2px;
}
#module-status .arrserch .arr-rote.module-box {
	width: 97%; position: relative;
}
#module-status .arrserch .arr-rote.module-box .item-value {
	width: 100%; height: 34px;
}
#module-status .arrserch .arr-rote.module-box .item-value::after {
	background-position: 0px -26px; top: 50%; width: 23px; height: 17px; right: 5px; margin-top: -8px; margin-left: -12px; display: block; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
#module-status .arrserch .airport-box {
	margin-right: 40px;
}
#module-status .arrserch .airport-select + .airport-select {
	margin-top: 8px;
}
#module-status .arrserch .change-rote {
	background: rgb(255, 255, 255); border: currentColor; top: 0px; width: 32px; height: 76px; right: 0px; position: absolute;
}
#module-status .arrserch .change-rote::after {
	background-position: 0px -484px; left: 50%; top: 50%; width: 10px; height: 18px; margin-top: -9px; margin-left: -5px; display: block; position: absolute; content: ""; background-image: url("/_shared-wws/images/ui_sprite.png");
}
#module-status .mod-link {
	margin: 12px -3% !important; width: 106% !important; border-spacing: 12px 0 !important;
}
#module-status .mod-link .module-tablinks {
	text-align: center;
}
#module-status .mod-link span {
	text-align: left; padding-left: 8px; margin-left: -3px; display: inline-block; position: relative;
}
#module-status .mod-link span::before {
	left: 0px; top: 0.5em; margin-right: 0px !important; margin-left: 0px !important; position: absolute;
}
#module-status .js-tabContentWrap + .module-info {
	margin-top: 12px;
}
#module-status .module-info + .module-tabBtnWrap {
	margin-top: 4px !important;
}
.mod-login-area {
	display: none;
}
.radio-value-B_RSV_NUM .rv-eticket {
	display: none;
}
.radio-value-C_RSV_NUM .rv-eticket {
	display: none;
}
.radio-value-B_E_TICKET .rv-rsvnum {
	display: none;
}
.radio-value-C_E_TICKET .rv-rsvnum {
	display: none;
}
.radio-value-C_ANA_NUMBER .mod-login-area {
	display: block;
}
.radio-value-B_ANA_NUMBER .mod-login-area {
	display: block;
}
.radio-value-C_ANA_NUMBER .mod-rsv-area {
	display: none;
}
.radio-value-B_ANA_NUMBER .mod-rsv-area {
	display: none;
}
.radio-value-C_ANA_NUMBER .anaNone {
	display: none !important;
}
.calendar-module .moduleModalContent {
	min-height: 485px;
}
#module-calendar {
	background: rgb(255, 255, 255); width: 100%; line-height: 1.3; position: relative;
}
#module-calendar #calendar-wrap {
	padding: 1px 2.5% 30px; width: 100%;
}
#module-calendar .calendar-box {
	margin: 30px auto 0px; max-width: 320px;
}
#module-calendar .monthly {
	height: 26px; line-height: 1.3; position: relative;
}
#module-calendar .monthly .month {
	background: rgb(233, 238, 244); padding: 5px 0px; text-align: center; font-size: 1.8rem; font-weight: bold; vertical-align: baseline;
}
#module-calendar .monthly .month span {
	font-size: 20px;
}
#module-calendar .monthly .this-month {
	display: none;
}
#module-calendar .tbl-calendar {
	width: 100%; margin-top: 15px; border-collapse: separate; table-layout: fixed;
}
#module-calendar .tbl-calendar th {
	padding: 0px 0px 2px; text-align: center; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
#module-calendar .tbl-calendar td {
	border-width: medium 2px 2px; border-style: none solid solid; border-color: currentColor rgb(255, 255, 255) rgb(255, 255, 255); height: 34px; text-align: center; color: rgb(189, 189, 189); line-height: 34px; vertical-align: middle;
}
#module-calendar .tbl-calendar td a {
	border-radius: 4px; height: 34px; color: rgb(51, 51, 51); line-height: 34px; overflow: hidden; text-decoration: none; display: block; -webkit-border-radius: 4px;
}
#module-calendar .tbl-calendar td.sat {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
#module-calendar .tbl-calendar td.today a {
	border: 2px solid rgb(221, 221, 221);
}
#module-calendar .tbl-calendar td.select a {
	background: rgb(255, 198, 0) !important;
}
#module-calendar .tbl-calendar td.first_select a {
	background: rgb(255, 198, 0) !important;
}
#module-calendar .tbl-calendar td.duration a {
	background-color: rgb(255, 221, 102) !important;
}
#module-calendar .tbl-calendar td.last_select a {
	background: rgb(255, 198, 0) !important;
}
#module-calendar .tbl-calendar td.cursor a {
	border: 1px solid rgb(19, 68, 143);
}
#module-calendar .calendar-nav {
	display: none;
}
.airport-modal {
	transition:transform 0.5s, -webkit-transform 0.5s; position: relative; -webkit-transition: -webkit-transform 0.5s;
}
.is-hidden.airport-modal .mod-airport-btn {
	display: none;
}
.is-open.airport-modal {
	transition:transform 0.5s, -webkit-transform 0.5s; transform: translate(-100%, 0px); -webkit-transition: -webkit-transform 0.5s; -webkit-transform: translate(-100%, 0px);
}
.mod-airport-contents {
	background: rgb(255, 255, 255); display: none; transform: translate(100%, 0); -webkit-transform: translate(100%, 0);
}
.is-active.mod-airport-contents {
	top: 0px; width: 100%; right: 0%; display: block; position: absolute;
}
.mod-airport-contents {
	display: none;
}
.mod-airport-btn {
	border-bottom-color: rgb(207, 207, 207); border-bottom-width: 1px; border-bottom-style: solid;
}
.mod-airport-btn a {
	background: rgb(254, 254, 254); padding: 15px; width: 100%; color: rgb(51, 51, 51); line-height: 1.2; text-decoration: none; display: block; position: relative;
}
.mod-airport-btn a::after {
	top: 50%; right: 10px; color: rgb(51, 51, 51); font-family: iconset; margin-top: -7px; position: absolute; content: "\e902";
}
.mod-airport-btn a:hover {
	text-decoration: none;
}
.mod-airport-area-title {
	padding: 0px;
}
.mod-airport-area-title a {
	padding: 15px 10px 15px 30px; color: rgb(255, 255, 255); line-height: 1.2; font-size: 1.8rem; text-decoration: none; display: block; position: relative;
}
.mod-airport-area-title a::before {
	left: 5px; top: 50%; color: rgb(255, 255, 255); font-family: iconset; font-size: 1.4rem; margin-top: -8px; position: absolute; content: "\e901";
}
.mod-airport-subttl {
	background: rgb(231, 231, 231); padding: 15px 10px; font-size: 1.6rem; font-weight: bold; margin-top: -1px; border-top-color: rgb(207, 207, 207); border-top-width: 1px; border-top-style: solid;
}
.mod-appList {
	width: 100%;
}
.mod-appList li {
	margin: -1px -1px 0px 0px; border: 1px solid rgb(207, 207, 207);
}
.mod-appList li a {
	padding: 15px 10px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
@media screen and (min-width:768px)
{
.moduleModal {
	
}
.js-modal {
	
}
.moduleModalContent {
	background: rgb(255, 255, 255); left: 10%; width: 80%; overflow: hidden;
}
.js-modalContent {
	background: rgb(255, 255, 255); left: 10%; width: 80%; overflow: hidden;
}
.moduleModalOverlay {
	background: rgba(0, 0, 0, 0.6); cursor: pointer;
}
.js-modalOverlay {
	background: rgba(0, 0, 0, 0.6); cursor: pointer;
}
#module-area {
	position: relative; z-index: 3;
}
#module-cont {
	left: 0px; top: -720px; width: 370px; position: absolute;
}
#mymenu-modal .js-modalContent {
	border-radius: 10px; -webkit-border-radius: 10px;
}
.is-moduleModal-sp .moduleModal {
	display: none !important;
}
.moduleModal .moduleModalContent {
	border-radius: 10px; border: 1px solid rgb(255, 255, 255); -webkit-border-radius: 10px;
}
.moduleModalCloseBtn {
	top: 15px; width: 50px; height: 50px; right: 8px;
}
.moduleModalCloseBtn::before {
	color: rgb(255, 255, 255); font-size: 2.2rem;
}
.modal-title {
	background: rgb(19, 68, 143); padding: 25px 30px; border-radius: 10px 10px 0px 0px; text-align: left; color: rgb(255, 255, 255); font-size: 2.8rem; -webkit-border-radius: 10px 10px 0 0;
}
.modal-sub-text {
	display: none;
}
#main-module {
	border-radius: 0px; width: 370px; padding-top: 60px; position: relative; -webkit-border-radius: 0;
}
#main-module .module-inner {
	background: rgb(19, 68, 143); padding-top: 15px;
}
#main-module .module-toggletabMenu {
	border-radius: 0px; top: 0px; width: 90px; height: 60px; padding-bottom: 3px; position: absolute; -webkit-border-radius: 0;
}
#main-module .tickets.module-toggletabMenu {
	left: 0px;
}
#main-module .booking.module-toggletabMenu {
	left: 94px;
}
#main-module .checkin.module-toggletabMenu {
	left: 188px; width: 89px;
}
#main-module .status.module-toggletabMenu {
	right: 0px;
}
#main-module .module-toggletabBtn {
	padding: 0px 3px; border-radius: 0px !important; width: 93px; height: 57px; text-align: center; font-size: 1.2rem; vertical-align: middle; border-top-color: currentColor; border-top-width: medium; border-top-style: none; display: table-cell; -webkit-border-radius: 0;
}
#main-module .module-toggletabBtn::after {
	display: none;
}
#main-module .module-toggletabMenu .module-toggletabBtn {
	transition:none; -webkit-transition: none;
}
#main-module .tickets.module-toggletabMenu .module-toggletabBtn {
	width: 93.5px;
}
#main-module .status.module-toggletabMenu {
	padding-right: 0px;
}
#main-module .is-active.module-toggletabMenu {
	padding-bottom: 0px;
}
#main-module .is-active.module-toggletabMenu .module-toggletabBtn {
	height: 60px; padding-bottom: 3px;
}
#module-calendar #calendar-wrap {
	margin: 0px auto; padding: 20px 30px 20px 39px; width: 100%; -ms-zoom: 1; min-height: 325px; max-width: 1010px;
}
#module-calendar #calendar-wrap::after {
	clear: both; display: block; content: "";
}
#module-calendar .calendar-box {
	margin: 0px 0px 0px 1%; width: 100%; float: left; max-width: 32.33%;
}
#module-calendar :first-child.calendar-box {
	margin-left: 0px;
}
#module-calendar .monthly .month {
	padding: 0px;
}
#module-calendar .calendar-nav {
	margin: 0px auto; padding: 20px 80px 15px; width: 100%; display: block; position: relative; max-width: 1010px;
}
#module-calendar :nth-child(1).calendar-nav {
	padding-top: 0px; padding-bottom: 0px;
}
#module-calendar .calendar-nav li {
	border-radius: 4px; border: 1px solid rgb(221, 221, 221); width: 30px; text-align: center; line-height: 1.2; overflow: hidden; -webkit-border-radius: 4px;
}
#module-calendar .calendar-nav li a {
	padding: 12px; text-decoration: none; display: block;
}
#module-calendar .calendar-nav li.current {
	margin: 0px; width: auto; display: inline-block;
}
#module-calendar .calendar-nav li.current a {
	padding: 10px 20px; position: relative; cursor: pointer !important;
}
#module-calendar .calendar-nav li.prev {
	position: absolute;
}
#module-calendar .calendar-nav li.next {
	position: absolute;
}
#module-calendar .calendar-nav li.prev a {
	height: 40px; cursor: pointer !important;
}
#module-calendar .calendar-nav li.next a {
	height: 40px; cursor: pointer !important;
}
#module-calendar .calendar-nav li.prev a::before {
	left: 50%; top: 50%; text-align: center; color: rgb(19, 68, 143); font-family: iconset; font-size: 1.2rem; font-weight: bold; margin-top: -6px; margin-left: -6px; display: inline-block; position: absolute; content: "";
}
#module-calendar .calendar-nav li.next a::before {
	left: 50%; top: 50%; text-align: center; color: rgb(19, 68, 143); font-family: iconset; font-size: 1.2rem; font-weight: bold; margin-top: -6px; margin-left: -6px; display: inline-block; position: absolute; content: "";
}
#module-calendar .calendar-nav li.prev {
	left: -1px; top: 145px; z-index: 5;
}
#module-calendar .calendar-nav li.prev a::before {
	content: "\e901";
}
#module-calendar .calendar-nav li.next {
	top: -180px; right: 0px;
}
#module-calendar .calendar-nav li.next a::before {
	content: "\e902";
}
.app-modal .modal-title {
	height: 87px;
}
.m_airportListTable .moduleModalContent {
	min-height: 640px;
}
.airport-modal {
	background: rgb(240, 241, 244); transition:none; width: 100%; height: 553px; position: relative; -webkit-transition: none;
}
.airport-modal .mod-airport-area-title {
	display: none;
}
.is-open.airport-modal {
	transition:none; -webkit-transition: none;
}
.mod-airport-contents {
	height: 553px; display: none; -ms-overflow-x: hidden; -ms-overflow-y: auto; transform: none; -webkit-transform: none;
}
.is-active.mod-airport-contents {
	top: 0px; width: 72%; right: 0%; display: block; position: absolute;
}
.mod-airport-contents {
	background: rgb(255, 255, 255); top: 0px; width: 72%; right: 0px; border-left-color: rgb(207, 207, 207); border-left-width: 1px; border-left-style: solid; position: absolute;
}
.mod-airport-btn {
	width: 28%; border-right-color: currentColor; border-bottom-color: currentColor; border-right-width: medium; border-bottom-width: medium; border-right-style: none; border-bottom-style: none;
}
.mod-airport-btn a {
	background: rgb(240, 241, 244); padding: 8px 15px; color: rgb(51, 51, 51); line-height: 1.2; border-bottom-color: rgb(207, 207, 207); border-bottom-width: 1px; border-bottom-style: dotted; display: block; position: relative;
}
.mod-airport-btn a::after {
	display: none;
}
.is-active.mod-airport-btn a {
	background: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-left-color: rgb(231, 231, 231); border-right-width: 1px; border-left-width: 10px; border-right-style: solid; border-left-style: solid;
}
.mod-airport-subttl {
	background: rgb(255, 255, 255); margin: 0px 5%; padding: 40px 0px 15px; font-size: 2rem; border-top-color: currentColor; border-bottom-color: rgb(207, 207, 207); border-top-width: medium; border-bottom-width: 1px; border-top-style: none; border-bottom-style: dotted;
}
.mod-appList {
	padding: 0px 5%; width: 103%; margin-top: 15px; margin-left: -3%; word-spacing: -1em; display: table;
}
.mod-appList li {
	margin: 5px 0px 5px 3%; border: currentColor; width: 30%; word-spacing: normal; vertical-align: top; display: inline-block; position: relative;
}
.mod-appList li a {
	padding: 5px 0px 5px 12px; display: block; position: relative;
}
.mod-appList li a::before {
	border-width: 4px 0px 4px 6px; border-style: solid; border-color: transparent transparent transparent rgb(20, 69, 143); left: 0px; top: 9px; width: 0px; height: 0px; position: absolute; content: "";
}
}
@media screen and (max-width:1024px) and (min-width:768px)
{
.moduleModalContent {
	left: 2%; width: 96%; height: auto;
}
.js-modalContent {
	left: 2%; width: 96%; height: auto;
}
#main-module {
	width: 332px;
}
#main-module .module-toggletabMenu {
	width: 82px;
}
#main-module .booking.module-toggletabMenu {
	left: 84px;
}
#main-module .checkin.module-toggletabMenu {
	left: 168px; width: 80px;
}
#main-module .status.module-toggletabMenu {
	right: 0px;
}
}
@media screen and (max-width:1320px) and (min-width:768px)
{
.moduleModalContent {
	left: 2%; width: 96%;
}
.js-modalContent {
	left: 2%; width: 96%;
}
.mod-appList li {
	width: 47%;
}
}
@media screen and (max-width:1100px) and (min-width:768px)
{
#module-calendar #calendar-wrap {
	padding-right: 15px; padding-left: 15px;
}
#module-calendar .calendar-nav {
	padding: 0px 1% 15px; height: 55px; text-align: center; max-width: none;
}
#module-calendar :nth-child(1).calendar-nav {
	height: 0px; padding-bottom: 0px;
}
#module-calendar .calendar-nav li {
	width: 60px;
}
#module-calendar .calendar-nav li.current {
	margin: 0px; width: auto; display: inline-block;
}
#module-calendar .calendar-nav li.current a {
	padding: 10px 20px;
}
#module-calendar .calendar-nav li.prev a {
	height: 36px;
}
#module-calendar .calendar-nav li.next a {
	height: 36px;
}
#module-calendar .calendar-nav li.prev {
	left: 15px; top: 325px;
}
#module-calendar .calendar-nav li.next {
	top: 0px; right: 15px;
}
#module-cont {
	left: 10px;
}
}
