@charset "UTF-8";
/* CSS Document */

/* ----- wrapper ----- */
.contents_wrapper {
	width: 100%;
	background-color: #fff;
}

.contents {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	height: 1.5;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}

dl {
	padding: 0;
	font-size: 14px;
}

li, dd {
	line-height: 1.7;
}

.pc_br {
	/*display: inline;*/
	display: block;
}

.sp_br {
	display: block;
}

.note {
	font-size: 12px;
}

.period {
	font-size: 14px;
}

/* ----- title ----- */
.ttl01,
.ttl02 {
	margin: 0 0 30px 0;
	color: #000;
	font-size: 24px;
	text-align: center;
	position: relative;
}

.ttl01::after,
.ttl02::after {
	position: absolute;
	top: 130%;
	left: 43%;
	content: '';
	width: 14%;
	min-width: 43px;
	height: 1px;
	background-color: #aaa;
}

.ttl02 {
	color: #fff;
	line-height: 1.3;
}

.ttl02::after {
	background-color: #fff;
	opacity: 0.5;
}

/* ----- wrapper_image ----- */
.summary_wrapper,
.campaign_wrapper,
.router_wrapper,
.useful_wrapper,
.detail_wrapper,
.attention_wrapper {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.summary_wrapper,
.campaign_wrapper,
.attention_wrapper {
	min-width: 90%;
}

.summary_wrapper {
	background-image: url("../image/index/bg_summary_sp.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}

.campaign_wrapper {
	background: #00a6e9;
	background: linear-gradient(to bottom, #0b88d7 0%, #00a6e6 30%, #00a6e6 100%);
}

.router_wrapper,
.useful_wrapper {
	color: #fff;
}

.detail_wrapper {
	background-image: url("../image/index/bg_detail_sp.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.attention_wrapper {
	background: #0c308e;
	position: relative;
}

.attention_wrapper:before {
	content: " ";
	background: transparent;
	background-image: url("../image/index/bg_attenion_sp.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	top: -14px;
	left: 0;
}

/* ----- left_nav_btn ----- */
.nav {
	display: none;
}

/* ----- btn ----- */
.campaign_btn,
.attention_btn {
	margin: 20px auto 30px;
	padding: 0;
	cursor: pointer;
	text-align: center;
}

.campaign_btn .btn,
.attention_btn .btn {
	display: inline-block;
	font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
	width: 90%;
	background: #ff9000;
	border: 3px solid #fff;
	border-radius: 8px;
	margin: 0 auto;
	padding: 18px 0;
	-webkit-appearance: none;
	position: relative;
}

.campaign_btn .btn {
	width: 90%; /*83%*/
	text-align: center;
}

.attention_btn .btn {
	border: none;
}

.campaign_btn p,
.attention_btn p {
	margin: 0 auto;
	color: #fff;
	font-size: 18px;
	line-height: 1;
	font-weight: normal;
}

.campaign_btn i,
.attention_btn i {
	font-family: 'FontAwesome';
	font-size: 22px;
}

/* ----- summary ----- */
.summary_wrapper .contents {
	padding: 61% 0 5px;
}

.summary_wrapper .ttl01 {
	font-size: 24px;
}

.summary_image {
	width: 65%;
	margin: 0 auto 7%;
}

.summary dt {
	width: 100%;
}

.summary dd {
	width: 100%;
	padding: 6px 0 18px 0;
}

/* ----- campaign ----- */
.campaign_wrapper .ttl02::after {
	top: 120%;
}

.campaign_wrapper .contents {
	margin: 0 auto;
	padding: 20px 0 30px 0;
}

.campaign_icon {
	width: 25%;
	position: absolute;
	top: -16px;
	right: -10px;
}

.campaign_wrapper .ttl01 {
	line-height: 1.3;
}

.campaign_wrapper .ttl01::after {
	top: 100%;
}

/* campaign_title */
.campaign_title li {
	background-image: url("../image/index/icon_shuriken01.png");
	background-repeat: no-repeat;
	background-position: left 15%;
	background-size: 5%;
	padding-left: 7%;
	padding-bottom: 2%;
}

.campaign_title_img {
	width: 56%;
	margin: 25px auto;
}

.campaign_title_txt {
	width: 100%;
	color: #fff;
	text-align: center;
}

.campaign_title_txt img {
	width: 90%;
	margin: 0 auto;
}

.campaign_wrapper .ttl02 {
	display: table;
	margin: 0 auto 30px;
	text-align: center;
}

.campaign_wrapper .ttl02 img {
	width: 93%;
	height: auto;
}

.campaign_wrapper .ttl02 span {
	display: block;
	vertical-align: top;
	text-align: center;
}

.campaign_wrapper .ttl02 .ttl {
	padding: 5px 0 0 0;
	vertical-align: middle;
}

.campaign_wrapper .ttl03 {
	padding: 8px 0 0 0;
	line-height: 1.5;
}

.campaign_title_txt .ttl03 span {
	margin: 0;
	color: #fffc00;
	font-size: 18px;
}

.campaign_title_txt span.note {
	display: block;
	margin-top: 5px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

.campaign_title_txt ul {
	margin-top: 15px;
	text-align: left;
}

/* campaign_entry */
.campaign_entry {
	background: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.campaign_entry .ttl01 {
	margin: 15px 0 20px 0;
	padding: 20px 14px 10px 14px;
}

.campaign_entry .entry_list {
	margin: 0 5%;
	padding-bottom: 20px;
}

.campaign_entry .entry01,
.campaign_entry .entry02,
.campaign_entry .entry03,
.campaign_entry .entry04 {
	display: block;
	padding-bottom: 13px;
}

.campaign_entry .entry05 {
	display: block;
}

.entry_contents {
	display: table;
}

.entry_contents .entry_img {
	display: table-cell;
	width: 47%;
	vertical-align: top;
}

.entry_contents .entry_img img {
	width: 87%;
}

.entry_contents .entry_txt {
	display: table-cell;
	min-width: 53%;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.entry_contents .entry_txt img {
	width: 15%;
	padding-bottom: 5px;
}

.entry_contents .entry_txt p {
	display: block;
	width: 100%;
	font-weight: bold;
}

.entry_contents .entry_txt .note,
.entry_contents05 .entry_txt .note {
	font-weight: normal;
}

.entry_contents05 .entry_img {
	vertical-align: top;
	padding-bottom: 12px;
}

.entry_contents05 .entry_txt img {
	float: left;
	width: 10%;
	padding-right: 4px;
}

.entry_contents05 .entry_txt {
	font-size: 18px;
	line-height: 1.5;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.entry_contents05 .entry_txt p.note {
	margin-top: 5px;
	margin-left: 10%;
}

/* campaign_code */
.campaign_code {
	background: #0c308e;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	padding: 18px 0 20px;
	color: #fff;
	text-align: center;
}

.campaign_code p {
	margin: 0 5%;
	padding-bottom: 16px;
	line-height: 1.5;
}

.code {
	width: 90%;
	background: #fff;
	border-radius: 16px;
	margin: 0 5%;
}

.code p {
	margin: 0;
	padding: 10px;
	color: #0c308e;
	font-size: 14px;
	line-height: 1;
	font-weight: bold;
}

/* ----- router ----- */
.router_wrapper .ttl02::after {
	left: 40%;
}

.router {
	padding: 10px 0 28px 0;
	text-align: center;
}

.router_img {
	width: 100%;
	margin: 0 auto 16px;
	padding-left: 13px;
}

.router_list {
	width: 100%;
	margin: 0;
	text-align: left;
}

.router_list dt {
	font-size: 22px;
	padding-bottom: 16px;
	text-align: center;
}

.router_list dd {
	padding-bottom: 22px;
}

/* ----- useful ----- */
.useful_wrapper .ttl02::after {
	left: 36%;
}

.useful_list {
	width: 95%;
	margin: 0 auto;
	padding-top: 0;
}

.useful_list li {
	padding-bottom: 26px;
	text-align: center;
}

.useful_list img {
	width: 25%; /*52%*/
	margin: 0 auto;
	padding: 0;
}

.useful_list .useful_ttl {
	padding: 14px 0 4px 0;
	text-align: center;
}

.useful_list .useful_ttl h3 {
	font-size: 18px;
}

.useful_txt p.pc_br {
	display: inline;
}

.useful_txt p.pc_txt {
	display: none;
}

.useful_txt p.sp_txt {
	display: block;
}

.useful_link {
	padding: 10px 0 0 0;
	line-height: 1.7;
	text-align: center;
}

.useful_link .btn {
	padding: 26px 0 0 0;
	font-size: 15px;
	font-weight: bold;
}

.useful_link .btn i {
	font-family: 'FontAwesome';
	font-size: 15px;
}

.useful_link .btn a {
	text-decoration: none;
	border-bottom: solid 1px #0d308c;
}

/* ----- detail ----- */
.detail_wrapper .contents {
	padding: 30px 0;
}

.detail_wrapper .ttl01 {
	font-size: 24px;
	margin: 0 0 35px 0;
}

.detail_summary li {
	background-image: url("../image/index/icon_shuriken02.png");
	background-repeat: no-repeat;
	background-position: left 15%;
	background-size: 5%;
	padding-left: 7%;
	padding-bottom: 2%;
}

/* ----- attention ----- */
.attention_wrapper .contents {
	padding: 20px 0 30px 0;
}

.attention_txt {
	width: 100%;
	height: 250px;
	overflow: scroll;
	background: #fff;
	padding: 15px;
	font-size: 12px;
	line-height: 1.7;
}

/* ========== for PC ========== */
@media only screen and ( min-width: 40em ) /* 640 */ {
	p {
		font-size: 14px;
		line-height: 1.7;
	}

	a:hover img { /* overwrite-common.css */
		opacity: 1;
	}

	dl:after {
		content: "";
		clear: both;
		display: block;
	}

	.pc_br {
		display: block;
	}

	.sp_br {
		display: inline;
	}

	.note {
		font-size: 12px;
	}

	/* ----- title ----- */
	.ttl01,
	.ttl02 {
		margin: 0 0 30px 0;
		color: #000;
		font-size: 34px;
		text-align: center;
		position: relative;
	}

	.ttl01::after,
	.ttl02::after {
		position: absolute;
		top: 250%;
		left: 53%;
		content: '';
		width: 58px;
		height: 1px;
		margin-left: -57px;
		background-color: #aaa;
	}

	.ttl02 {
		margin: 0 0 60px 0;
		color: #fff;
		line-height: 1;
	}

	.ttl02::after {
		background-color: #fff;
		opacity: 0.5;
	}

	.ttl03 {
		margin: 2px 0 25px 0;
		color: #fffc00;
		font-size: 18px;
	}

	/* ----- wrapper_image ----- */
	.contents {
		width: 960px;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	.summary_wrapper,
	.campaign_wrapper,
	.detail_wrapper,
	.attention_wrapper {
		width: 100%;
		min-width: 960px;
	}

	.summary_wrapper {
		background-image: url("../image/index/bg_summary_pc.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 1920px;
	}

	.campaign_wrapper {
		background-color: #00a6e9;
		background-image: url("../image/index/bg_campaign.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 1920px;
	}

	.detail_wrapper {
		background-image: url("../image/index/bg_detail_pc.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 1920px;
	}

	.attention_wrapper {
		background: #0c308e;
		position: relative;
	}

	.attention_wrapper:before {
		content: " ";
		background: transparent;
		background-image: url("../image/index/bg_attenion_pc.png");
		background-repeat: no-repeat;
		background-position: center top;
		position: absolute;
		top: -83px;
	}

	/* ----- left_nav_btn ----- */
	.nav {
		display: block;
		float: left;
		z-index: 100;
		position: absolute;
		top: 328px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
		background: #ff9000;
		text-align: center;
	}

	.nav p {
		padding: 17px 8px;
	}

	.nav a:hover p {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		background: #ffb24d;
	}

	/* ----- btn ----- */
	.campaign_btn,
	.attention_btn {
		cursor: pointer;
		margin: 60px auto 20px;
		text-align: center;
	}

	.attention_btn {
		margin: 40px auto 60px;
	}

	.campaign_btn .btn,
	.attention_btn .btn {
		width: 360px;
		height: 70px;
		background: #ff9000;
		border: 3px solid #fff;
		border-radius: 8px;
		margin: 0 auto;
		padding: 19px 0 0 0;
	}

	.campaign_btn p,
	.attention_btn p {
		font-size: 20px;
		font-weight: bold;
	}

	.campaign_btn i,
	.attention_btn i {
		font-family: 'FontAwesome';
		font-size: 25px;
	}

	.campaign_btn a:hover .btn,
	.attention_btn a:hover .btn {
		background: #ffb24d;
	}

	/* ----- summary ----- */
	.summary_wrapper .contents {
		padding: 482px 0 50px 0;
	}

	.summary_wrapper .ttl01 {
		font-size: 34px;
	}

	.summary_image {
		width: 39%;
		margin: 0 auto 58px;
		padding: 0 2px 0 0;
	}

	.summary {
		padding: 30px 0 0 6%;
		font-weight: bold;
	}

	.summary dt {
		float: left;
		width: 218px;
		padding-right: 16px;
	}

	.summary dd {
		float: left;
		width: 670px;
		padding: 8px 0 0 0;
		font-size: 16px;
	}

	.summary dd.multiline {
		padding-top: 0;
	}

	.summary dd .note {
		font-size: 14px;
	}

	/* ----- campaign ----- */
	.campaign_wrapper .contents {
		padding: 5px 0 60px 0;
	}

	.campaign_icon {
		max-width: 64px;
		position: absolute;
		top: 0;
		left: 24%;
	}

	/* campaign_title */
	.campaign_wrapper .ttl02 {
		display: table;
		margin: 0 auto 70px;
		padding: 25px 10px 0 0;
		font-size: 32px;
		text-align: center;
	}

	.campaign_wrapper .ttl02::after {
		top: 135%;
	}

	.campaign_wrapper .ttl02 img {
		width: 376px;
		height: 56px;
	}

	.campaign_wrapper .ttl02 span {
		display: table-cell;
		vertical-align: top;
		text-align: center;
	}

	.campaign_wrapper .ttl02 .ttl {
		padding: 25px 0 0 5px;
		vertical-align: middle;
	}

	.campaign_wrapper .ttl03 {
		padding: 0 0 0 4px;
	}

	/* campaign_title */
	.campaign_title {
		clear: both;
		overflow: hidden;
		width: 100%;
		margin: 0 auto 30px;
		text-align: center;
	}

	.campaign_title li {
		background-image: url("../image/index/icon_shuriken01.png");
		background-repeat: no-repeat;
		background-position: 4px 15%;
		background-size: 18px;
		padding-left: 32px;
		padding-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
	}

	.campaign_title li:first-child {
		padding-bottom: 10px;
	}

	.campaign_title_img {
		float: left;
		width: 43%;
		margin: 0;
		padding: 50px 0 0 17px;
		text-align: left;
	}

	.campaign_title_img img {
		width: 343px;
	}

	.campaign_title_txt {
		float: left;
		width: 57%;
		text-align: left;
	}

	.campaign_title_txt img {
		width: 515px;
	}

	.campaign_title_txt span {
		font-size: 12px;
	}

	.campaign_title_txt span.note {
		margin-top: 5px;
		font-size: 12px;
		text-align: left;
	}

	.campaign_title_txt ul {
		margin-top: 25px;
	}

	/* campaign_entry */
	.campaign_entry {
		width: 950px;
		margin: 0 0 0 5px;
		padding: 40px 0 55px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		text-align: center;
	}

	.campaign_entry .ttl01 {
		margin: 0 0 40px 0;
		padding: 12px 14px 16px 20px;
	}

	.campaign_entry .ttl01::after {
		top: 105%;
	}

	.campaign_entry .entry_list {
		margin: 0 auto;
		padding-left: 5px;
	}

	.campaign_entry .entry01,
	.campaign_entry .entry02,
	.campaign_entry .entry03,
	.campaign_entry .entry04 {
		display: inline-block;
		width: 24%;
		padding-bottom: 35px;
	}

	.campaign_entry .entry05 {
		display: block;
	}

	.entry_contents {
		display: block;
	}

	.entry_contents .entry_img {
		display: block;
		width: 100%;
		padding-bottom: 12px;
		vertical-align: top;
	}

	.entry_contents .entry_img img {
		width: 97%;
	}

	.entry_contents .entry_txt {
		width: 53%;
		font-weight: bold;
		text-align: left;
		vertical-align: top;
	}

	.entry_contents .entry_txt img {
		float: left;
		width: 17%;
		padding: 0 10px 5px 1px;
	}

	.entry_contents .entry_txt p {
		font-size: 16px;
		line-height: 1.5;
		font-weight: bold;
	}

	.campaign_entry .entry04 p + p {
		padding-top: 12px;
	}

	.entry_contents .entry_txt .note,
	.entry_contents05 .entry_txt .note {
		clear: left;
		padding: 2px 0 0 0;
		font-size: 12px;
		font-weight: normal;
	}

	/* campaign_entry_05 */
	.entry_contents05 {
		display: table;
		width: 100%;
		margin-left: 5px;
	}

	.entry_contents05 .entry_img {
		display: table-cell;
		width: 50%;
	}

	.entry_contents05 .entry_txt img {
		float: left;
		width: 9.5%;
		padding-right: 4px;
	}

	.entry_contents05 .entry_txt {
		display: table-cell;
		width: 49%;
		padding-top: 41px;
	}

	.entry_contents05 .entry_txt p {
		font-size: 22px;
		line-height: 1.5;
	}

	.entry_contents05 .entry_txt p.note {
		margin: 15px 0 0 0;
	}

	/* campaign_code */
	.campaign_code {
		width: 950px;
		margin: 0 0 0 5px;
		padding: 30px 0 42px 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.campaign_code p {
		padding-bottom: 12px;
		font-size: 18px;
	}

	.code {
		border-radius: 26px;
		width: 450px;
		margin: 0 auto;
	}

	.code p {
		margin: 0;
		padding: 19px 0 15px;
		font-size: 26px;
		line-height: 26px;
		font-weight: bold;
	}

	/* ----- router ----- */
	.router {
		clear: both;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		padding: 30px 0;
		text-align: center;
	}

	.router_wrapper .ttl02 {
		margin: 0 auto 25px;
		font-size: 34px;
	}

	.router_wrapper .ttl02::after {
		top: 110%;
		left: 56%;
	}

	.router_wrapper .ttl02 p.pc_br {
		font-size: 30px;
	}

	.router_wrapper .ttl02 p.pc_br:nth-child(2) span {
		display: block;
		text-align: center;
	}

	.router_img {
		float: left;
		width: 50%;
		text-align: left;
	}

	.router_img img {
		width: 88%;
		padding-left: 10px;
	}

	.router_list {
		float: left;
		width: 50%;
		margin: 0;
		text-align: left;
	}

	.router_list dt {
		font-size: 20px;
		padding-bottom: 20px;
		text-align: left;
		font-weight: bold;
	}

	.router_list dd {
		padding-bottom: 30px;
	}

	/* ----- useful ----- */
	.useful_wrapper .ttl02 {
		margin: 0 auto 30px;
		font-size: 34px;
	}

	.useful_wrapper .ttl02::after {
		top: 155%;
		left: 55%;
	}

	.useful_list {
		display: table;
		width: 100%;
		padding-top: 40px;
	}

	.useful_list li {
		display: table-cell;
		width: 20%;
		padding-bottom: 50px;
		vertical-align: top;
		text-align: center;
	}

	.useful_list img {
		width: 150px;
	}

	.useful_list .useful_ttl {
		width: 100%;
		height: 86px;
		display: table-cell;
		vertical-align: middle;
	}

	.useful_list .useful_ttl h3 {
		width: 186px;
		font-size: 18px;
		line-height: 1.4;
		font-weight: bold;
	}

	.useful_txt {
		font-size: 14px;
		line-height: 1.7;
	}

	.useful_txt p.pc_br {
		display: block;
	}

	.useful_txt p.pc_txt {
		display: block;
	}

	.useful_txt p.sp_txt {
		display: none;
	}

	.useful_link {
		padding: 0;
	}

	.useful_link .btn {
		padding: 15px 0 0 0;
		font-size: 22px;
		font-weight: bold;
	}

	.useful_link .btn i {
		font-family: 'FontAwesome';
		font-size: 20px;
	}

	.useful_link .btn a:hover {
		opacity: 0.8;
	}

	/* ----- detail ----- */
	.detail_wrapper .contents {
		padding: 65px 0 85px 0;
	}

	.detail_wrapper .ttl01 {
		font-size: 34px;
	}

	.detail_summary {
		padding: 15px 0 60px 0;
	}

	.detail_summary .summary {
		padding: 40px 0 0 6%;
		line-height: 1.7;
	}

	.detail_summary li {
		background-image: url("../image/index/icon_shuriken02.png");
		background-repeat: no-repeat;
		background-position: left 15%;
		background-size: 18px;
		padding-left: 30px;
	}

	.detail_summary li {
		padding-bottom: 0;
	}

	.detail_summary li:first-child {
		padding-bottom: 5px;
	}

	.detail_summary .multiline {
		margin-top: -3px;
	}

	.detail_summary .multiline ul {
		margin-top: -5px;
	}

	/* ----- attention ----- */
	.attention_wrapper .contents {
		padding: 10px 0 80px 0;
	}

	.attention_wrapper .ttl02 {
		margin: 0 auto 70px;
	}

	.attention_wrapper .ttl02::after {
		top: 165%;
	}

	.attention_txt {
		width: 960px;
		height: 450px;
		padding: 20px;
		font-size: 14px;
	}

}