@charset "UTF-8";
/* CSS Document */

.campaign_btn .btn,
.attention_btn .btn {
  background: #f8bc6b;
  cursor: auto;
}

.summary_wrapper {
	background-image: url("../image/index/bg_summary_closed_sp.png");
}

/* ========== for PC ========== */
@media only screen and ( min-width: 40em ) /* 640 */ {

	.summary_wrapper {
		background-image: url("../image/index/bg_summary_closed_pc.jpg");
	}

}
