@charset "UTF-8";
/* CSS Document */
/* overwrite-index.css */

/* ----- wrapper_image ----- */
.summary_wrapper {
	background-image: url("../image/index-po/bg_summary_sp.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}

/* ========== for PC ========== */
@media only screen and ( min-width: 40em ) /* 640 */ {

	/* ----- wrapper_image ----- */
	.summary_wrapper {
		background-image: url("../image/index-po/bg_summary_pc.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 1920px;
	}

}